vault_assets/039_83_5_AI_Automations_to_Automate_90_of_Work/Agent_with_Memory (1).json
{
  "name": "Agent with Memory",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        -120
      ],
      "id": "045c3064-1921-4804-a586-8af34318e732",
      "name": "When chat message received",
      "webhookId": "2f55df28-78df-42d1-9143-35209d139f4a"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant.\n\nCheck your vector database for information in answering questions"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -60,
        -120
      ],
      "id": "396ace67-c648-4b00-9880-4936c0590c22",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -60,
        100
      ],
      "id": "bab69995-aeef-4f68-8ef2-d44e79f2287b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0zsUHU0F8xKDAzoO",
          "name": "OpenAi account 14"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1wNwIxT0ht826dDqOSBE09nJ6V4rtclgz",
          "mode": "list",
          "cachedResultName": "Business Knowledge",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1wNwIxT0ht826dDqOSBE09nJ6V4rtclgz"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -300,
        500
      ],
      "id": "7a4e90c2-2d23-4f4a-8b63-6938babb01de",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UUpiFNAs39jvIMt5",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -80,
        500
      ],
      "id": "488e1347-9df8-4ceb-ae3b-df707a62b2e1",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UUpiFNAs39jvIMt5",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI Agent",
        "height": 560,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -380,
        -280
      ],
      "typeVersion": 1,
      "id": "601318fb-2fce-45d5-884a-497b197e99cc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## RAG\n",
        "height": 800,
        "width": 1080,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -380,
        340
      ],
      "typeVersion": 1,
      "id": "54186a8d-3a16-4b3c-a426-3b1f2ad6e276",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "business",
          "mode": "list",
          "cachedResultName": "business"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        140,
        500
      ],
      "id": "54c44912-5858-4e0b-9c96-777053fd3f78",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "3ORSKXHNqrQpRBb3",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        720
      ],
      "id": "60afa9a3-cc84-4d62-8085-4a77e076521c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "0zsUHU0F8xKDAzoO",
          "name": "OpenAi account 14"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        280,
        720
      ],
      "id": "e8e5617a-5e23-4535-bbb7-362d62308d5f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 150,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        380,
        940
      ],
      "id": "bc6057d1-8aa6-4fbc-827d-91cc1175d163",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "name": "=VectorStore",
        "description": "All knowledge in vector database",
        "topK": 2
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        740,
        -240
      ],
      "id": "678a2e7a-cb2c-4bcb-944a-96cc43da3760",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "business",
          "mode": "list",
          "cachedResultName": "business"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        600,
        -40
      ],
      "id": "491a690c-c036-4c83-a7b3-26682251d298",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "3ORSKXHNqrQpRBb3",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        700,
        140
      ],
      "id": "45859583-cb23-4a88-9484-96ce37529f14",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "0zsUHU0F8xKDAzoO",
          "name": "OpenAi account 14"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        940,
        -60
      ],
      "id": "9029c05a-829d-4d6c-9308-cc2a591b6334",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "0zsUHU0F8xKDAzoO",
          "name": "OpenAi account 14"
        }
      }
    },
    {
      "parameters": {
        "content": "## Knowledge",
        "height": 640,
        "width": 660,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        -360
      ],
      "typeVersion": 1,
      "id": "c5c7387d-fca4-40ac-bfc9-963aa3143254",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b32d2746-66d5-4e48-a5c8-329fb2f19930",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1ad5536c7c55ace0cd2d13b5ee509a9d5436e829bf5adf69ed3e58c359b43097"
  },
  "id": "D1KzWE7OVdwZASgs",
  "tags": [
    {
      "createdAt": "2025-04-09T10:39:27.999Z",
      "updatedAt": "2025-04-09T10:39:27.999Z",
      "id": "C22lP7Wnkig81gDU",
      "name": "knowledge base"
    },
    {
      "createdAt": "2025-04-09T10:39:32.232Z",
      "updatedAt": "2025-04-09T10:39:32.232Z",
      "id": "Yop6w03Y9pO8sp4k",
      "name": "chatbot"
    }
  ]
}