vault_assets/039_83_5_AI_Automations_to_Automate_90_of_Work/canva to instagram.json
{
    "name": "Canva to Instagram",
    "flow": [
        {
            "id": 1,
            "module": "util:FunctionIncrement",
            "version": 1,
            "parameters": {
                "reset": "scenario"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -145,
                    "y": -35
                },
                "restore": {
                    "parameters": {
                        "reset": {
                            "label": "Never"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "reset",
                        "type": "select",
                        "label": "Reset a value",
                        "required": true,
                        "validate": {
                            "enum": [
                                "run",
                                "execution",
                                "scenario"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "canva:exportDesign",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 7182458
            },
            "mapper": {
                "format": {
                    "type": "mp4",
                    "pages": "{{1.i}}",
                    "quality": "horizontal_1080p"
                },
                "folderId": "/",
                "design_id": "DAGkJPx6xxE"
            },
            "metadata": {
                "designer": {
                    "x": 155,
                    "y": -35
                },
                "restore": {
                    "expect": {
                        "format": {
                            "nested": {
                                "type": {
                                    "mode": "chose",
                                    "label": "MP4"
                                },
                                "quality": {
                                    "mode": "chose",
                                    "label": "HORIZONTAL_1080P"
                                }
                            }
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "/"
                            ],
                            "nested": [
                                {
                                    "name": "design_id",
                                    "type": "select",
                                    "label": "Design ID",
                                    "options": "rpc://canva/1/listItems?type=design",
                                    "required": true
                                }
                            ]
                        },
                        "design_id": {
                            "mode": "chose",
                            "label": "Hormoziiiii canva"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "canva"
                            },
                            "label": "My Canva connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:canva",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "Folder ID",
                        "required": true
                    },
                    {
                        "name": "format",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "pdf",
                                        "jpg",
                                        "png",
                                        "pptx",
                                        "gif",
                                        "mp4"
                                    ]
                                }
                            },
                            {
                                "name": "quality",
                                "type": "select",
                                "label": "Quality",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "horizontal_480p",
                                        "horizontal_720p",
                                        "horizontal_1080p",
                                        "horizontal_4k",
                                        "vertical_480p",
                                        "vertical_720p",
                                        "vertical_1080p",
                                        "vertical_4k"
                                    ]
                                }
                            },
                            {
                                "name": "pages",
                                "type": "text",
                                "label": "Pages"
                            }
                        ],
                        "type": "collection",
                        "label": "Export Format",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "Folder ID",
                        "required": true
                    },
                    {
                        "name": "format",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "pdf",
                                        "jpg",
                                        "png",
                                        "pptx",
                                        "gif",
                                        "mp4"
                                    ]
                                }
                            },
                            {
                                "name": "quality",
                                "type": "select",
                                "label": "Quality",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "horizontal_480p",
                                        "horizontal_720p",
                                        "horizontal_1080p",
                                        "horizontal_4k",
                                        "vertical_480p",
                                        "vertical_720p",
                                        "vertical_1080p",
                                        "vertical_4k"
                                    ]
                                }
                            },
                            {
                                "name": "pages",
                                "type": "text",
                                "label": "Pages"
                            }
                        ],
                        "type": "collection",
                        "label": "Export Format",
                        "required": true
                    },
                    {
                        "name": "design_id",
                        "type": "select",
                        "label": "Design ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 1532818
            },
            "mapper": {
                "base": "appi7iq8MHNncahgp",
                "table": "tbliECDMYxUHdO9HD",
                "fields": [
                    "Quotes",
                    "Caption",
                    "Assignee",
                    "Status",
                    "Attachments"
                ],
                "formula": "{Number} = {{1.i}}",
                "maxRecords": "50",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 535,
                    "y": -34
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Canva Quotes"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Table 1"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "Quotes",
                                "Caption",
                                "Assignee",
                                "Status",
                                "Attachments"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable OAuth connection (User ID: usrWHZndszJIS5AWQ)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Quotes",
                        "type": "text",
                        "label": "Quotes"
                    },
                    {
                        "name": "Caption",
                        "type": "text",
                        "label": "Caption",
                        "multiline": true
                    },
                    {
                        "name": "Assignee",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Assignee"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "Attachments",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "instagram-business:CreateAReelPost",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1454622
            },
            "mapper": {
                "caption": "{{4.Caption}}",
                "accountId": "17841464088334301",
                "video_url": "{{2.url}}",
                "share_to_feed": false
            },
            "metadata": {
                "designer": {
                    "x": 923,
                    "y": -27
                },
                "restore": {
                    "expect": {
                        "accountId": {
                            "mode": "chose",
                            "label": "Mmapodast1 Connected Page (@mmapodast1)"
                        },
                        "share_to_feed": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "facebook"
                            },
                            "label": "My Facebook connection (Jack Roberts)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:facebook",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "accountId",
                        "type": "select",
                        "label": "Page",
                        "required": true
                    },
                    {
                        "name": "video_url",
                        "type": "url",
                        "label": "Video URL",
                        "required": true
                    },
                    {
                        "name": "caption",
                        "type": "text",
                        "label": "Caption"
                    },
                    {
                        "name": "thumb_offset",
                        "type": "number",
                        "label": "Cover Frame"
                    },
                    {
                        "name": "location_id",
                        "type": "text",
                        "label": "Location ID"
                    },
                    {
                        "name": "share_to_feed",
                        "type": "boolean",
                        "label": "Share to Feed",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}