vault_assets/039_83_5_AI_Automations_to_Automate_90_of_Work/n8n_Tone_of_Voice_Flowwww.json
{
  "name": "n8n Tone of Voice Flowwww",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        0
      ],
      "id": "2d3861b1-d8f5-49f7-b266-afbba355479d",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "19r4dqHkX0XToJj5x8phyvESoR1qJjBMfcjo8gIngHVQ"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        20,
        0
      ],
      "id": "3df5a7bd-724c-459c-b124-e76f821824b2",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "1tDXMRYFi4lLvvJ6",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyse this text and create tone of voice guidelines for: Vocabulary and word choice\n\nPlease provide a detailed guideline for each element, including relevant examples from the given text.\n\nIt is imperative that your guidelines read as instructions to a language model to emulate this style exactly. For example, ‘when writing sentences use active voice most of the time such as ‘He gladly painted the house’. \n\nFeel free to include examples from the written text of what good and bad looks like. Be as helpful and detailed as possible.\n\nKeep the response 350 words maximum, do not include any additional explainations or text. Write these as instructions to follow when trying to create this tone of voice, and use examples.\n\nAnalyze the given text focusing on the following.\n1. Vocabulary and word choice\n   - Analyze the writer's use of unique, specialized, or repetitive words and phrases\n   - Identify the frequency and diversity of the writer's vocabulary\n   - Examine the use of jargon, slang, or colloquialisms\n   - Determine the writer's preference for simple or complex words\n   - Look for any distinctive or unusual word choices\n   - Assess the reading age level required to understand the vocabulary used\n\nWrite these as instructions and include no additional text. \n\nthe text: {{ $json['Tone of Voice'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        440,
        0
      ],
      "id": "2e21e090-743e-49ad-9814-636eef98f3b5",
      "name": "1) Vocab & Word Choice 💎",
      "credentials": {
        "openAiApi": {
          "id": "0zsUHU0F8xKDAzoO",
          "name": "OpenAi account 14"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyse this text and create tone of voice guidelines.\n\nPlease provide a detailed guideline for each element, including relevant examples from the given text.\n\nIt is imperative that your guidelines read as instructions to a language model to emulate this style exactly. For example, ‘when writing sentences use active voice most of the time such as ‘He gladly painted the house’. \n\nFeel free to include examples from the written text of what good and bad looks like. Be as helpful and detailed as possible.\n\nKeep the response 350 words maximum, do not include any additional explainations or text. Write these as instructions to follow when trying to create this tone of voice, and use examples.\n\nAnalyze the given text focusing on the following.\nGrammatical patterns\n   - Identify the writer's use of specific grammatical structures, such as passive voice, complex tenses, or particular parts of speech\n   - Analyze the writer's use of verb tenses and consistency in tense usage\n   - Examine the writer's use of singular and plural nouns, as well as pronouns\n   - Look for any recurring grammatical errors or deliberate deviations from standard grammar\n\nWrite these as instructions and include no additional text. \n\nthe text: {{ $('Edit Fields').item.json['Tone of Voice'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        760,
        0
      ],
      "id": "36271edc-8931-4003-8174-6f52c156a5f7",
      "name": "2) Grammatical Patterns 🔥",
      "credentials": {
        "openAiApi": {
          "id": "0zsUHU0F8xKDAzoO",
          "name": "OpenAi account 14"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyse this text and create tone of voice guidelines.\n\nKeep the response 350 words maximum, do not include any additional explainations or text. Write these as instructions to follow when trying to create this tone of voice, and use examples.\n\nPlease provide a detailed guideline for each element, including relevant examples from the given text.\n\n\nIt is imperative that your guidelines read as instructions to a language model to emulate this style exactly. For example, ‘when writing sentences use active voice most of the time such as ‘He gladly painted the house’. Feel free to include examples from the written text of what good and bad looks like. Be as helpful and detailed as possible.\n\nAnalyze the given text focusing on the following.\nPunctuation\n   - Analyze the writer's use of punctuation marks, such as commas, semicolons, dashes, and parentheses\n   - Determine if the writer favors certain punctuation marks over others\n   - Examine how the writer uses punctuation to create rhythm, emphasis, or clarity\n   - Look for any unusual or idiosyncratic punctuation patterns\n\nWrite these as instructions and include no additional text. \n\nthe text: {{ $('Edit Fields').item.json['Tone of Voice'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1120,
        0
      ],
      "id": "9364cd09-f1d0-42a2-ad4a-7c834a763d53",
      "name": "3) Punctuation 😡",
      "credentials": {
        "openAiApi": {
          "id": "0zsUHU0F8xKDAzoO",
          "name": "OpenAi account 14"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyse this text and create tone of voice guidelines.\n\nKeep the response 350 words maximum, do not include any additional explainations or text. Write these as instructions to follow when trying to create this tone of voice, and use examples.\n\nPlease provide a detailed guideline for each element, including relevant examples from the given text.\n\n\nIt is imperative that your guidelines read as instructions to a language model to emulate this style exactly. For example, ‘when writing sentences use active voice most of the time such as ‘He gladly painted the house’. Feel free to include examples from the written text of what good and bad looks like. Be as helpful and detailed as possible.\n\nAnalyze the given text focusing on the following.\nSentence structure and length\n   - Examine the complexity, variety, and average length of the writer's sentences\n   - Identify the writer's use of simple, compound, complex, or compound-complex sentences\n   - Analyze the writer's use of sentence fragments, run-on sentences, or varied sentence beginnings\n   - Determine the writer's preference for short, punchy sentences or longer, more elaborate ones\n   - Calculate the average words per sentence\n   - Identify the percentage of short sentences (e.g., less than 10 words) and long sentences (e.g., more than 30 words)\n\nWrite these as instructions and include no additional text. \n\nthe text: {{ $('Edit Fields').item.json['Tone of Voice'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1500,
        0
      ],
      "id": "395630a4-e48e-4c46-90cc-1d1751d74335",
      "name": "4) Sentence Structure ⛩️",
      "credentials": {
        "openAiApi": {
          "id": "0zsUHU0F8xKDAzoO",
          "name": "OpenAi account 14"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyse this text and create tone of voice guidelines.\n\nKeep the response 350 words maximum, do not include any additional explainations or text. Write these as instructions to follow when trying to create this tone of voice, and use examples.\n\nPlease provide a detailed guideline for each element, including relevant examples from the given text.\n\n\nIt is imperative that your guidelines read as instructions to a language model to emulate this style exactly. For example, ‘when writing sentences use active voice most of the time such as ‘He gladly painted the house’. Feel free to include examples from the written text of what good and bad looks like. Be as helpful and detailed as possible.\n\nAnalyze the given text focusing on the following.\n\nRhetorical devices\n   - Recognize the writer's use of literary techniques, such as metaphors, similes, alliteration, or repetition\n   - Identify the writer's use of rhetorical questions, irony, or hyperbole\n   - Examine the writer's use of analogies, anecdotes, or examples to illustrate points\n   - Look for any distinctive or recurring rhetorical devices in the writer's work\n\nWrite these as instructions and include no additional text. \n\nthe text: {{ $('Edit Fields').item.json['Tone of Voice'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1880,
        0
      ],
      "id": "d1e169bc-1d65-42e9-845a-452400416104",
      "name": "5) Rhetorical Devices 👀",
      "credentials": {
        "openAiApi": {
          "id": "0zsUHU0F8xKDAzoO",
          "name": "OpenAi account 14"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyse this text and create tone of voice guidelines.\n\nPlease provide a detailed guideline for each element, including relevant examples from the given text.\n\nIt is imperative that your guidelines read as instructions to a language model to emulate this style exactly. For example, ‘when writing sentences use active voice most of the time such as ‘He gladly painted the house’. Feel free to include examples from the written text of what good and bad looks like. Be as helpful and detailed as possible.\n\nKeep the response 350 words maximum, do not include any additional explainations or text. Write these as instructions to follow when trying to create this tone of voice, and use examples.\n\nAnalyze the given text focusing on the following.\n\nParagraph structure\n   - Examine how the writer organizes their paragraphs, including their length, topic sentences, and transitions\n   - Analyze the writer's use of deductive or inductive reasoning in paragraph development\n   - Identify the writer's use of chronological, spatial, or emphatic order in paragraph arrangement\n   - Look for any unique or recurring patterns in the writer's paragraph structure\n\nWrite these as instructions and include no additional text. \n\nthe text: {{ $('Edit Fields').item.json['Tone of Voice'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2240,
        0
      ],
      "id": "fd33a5b7-1610-4b01-94ba-d5569581c1aa",
      "name": "6) Paragraph Structure ⚡️",
      "credentials": {
        "openAiApi": {
          "id": "0zsUHU0F8xKDAzoO",
          "name": "OpenAi account 14"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyse this text and create tone of voice guidelines.\n\nPlease provide a detailed guideline for each element, including relevant examples from the given text.\n\nIt is imperative that your guidelines read as instructions to a language model to emulate this style exactly. For example, ‘when writing sentences use active voice most of the time such as ‘He gladly painted the house’. Feel free to include examples from the written text of what good and bad looks like. Be as helpful and detailed as possible.\n\nKeep the response 350 words maximum, do not include any additional explainations or text. Write these as instructions to follow when trying to create this tone of voice, and use examples.\n\nAnalyze the given text focusing on the following.\n\nTone and mood\n   - Analyze the overall emotional tone of the writing, such as formal, casual, humorous, or serious\n   - Identify shifts in tone throughout the piece and examine how the writer achieves these changes\n   - Determine the writer's use of diction, syntax, and imagery to create a specific mood or atmosphere\n   - Look for any inconsistencies or contradictions in the writer's tone\n\nWrite these as instructions and include no additional text. \n\nthe text: {{ $('Edit Fields').item.json['Tone of Voice'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2620,
        0
      ],
      "id": "a7091d7d-949d-4b72-af29-79733c4446cc",
      "name": "7) Tone and Mood 🤩",
      "credentials": {
        "openAiApi": {
          "id": "0zsUHU0F8xKDAzoO",
          "name": "OpenAi account 14"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyse this text and create tone of voice guidelines.\n\nPlease provide a detailed guideline for each element, including relevant examples from the given text.\n\nIt is imperative that your guidelines read as instructions to a language model to emulate this style exactly. For example, ‘when writing sentences use active voice most of the time such as ‘He gladly painted the house’. Feel free to include examples from the written text of what good and bad looks like. Be as helpful and detailed as possible.\nKeep the response 350 words maximum, do not include any additional explainations or text. Write these as instructions to follow when trying to create this tone of voice, and use examples.\n\nAnalyze the given text focusing on the following.\n\nOverall coherence and cohesion\n   - Analyze how well the writer's ideas flow and connect throughout the piece\n   - Examine the writer's use of transitional words, phrases, or sentences to link ideas\n   - Identify the writer's use of repetition, parallel structure, or other cohesive devices\n   - Determine the writer's ability to maintain focus and unity throughout the piece\n\nWrite these as instructions and include no additional text. \n\nthe text: {{ $('Edit Fields').item.json['Tone of Voice'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2960,
        0
      ],
      "id": "6f8feb5a-fb7e-45b2-8ebb-384575c3b6fe",
      "name": "8) Coherence and Cohesion 📈",
      "credentials": {
        "openAiApi": {
          "id": "0zsUHU0F8xKDAzoO",
          "name": "OpenAi account 14"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyse this text and create tone of voice guidelines.\n\nPlease provide a detailed guideline for each element, including relevant examples from the given text.\n\nIt is imperative that your guidelines read as instructions to a language model to emulate this style exactly. For example, ‘when writing sentences use active voice most of the time such as ‘He gladly painted the house’. Feel free to include examples from the written text of what good and bad looks like. Be as helpful and detailed as possible.\n\nKeep the response 350 words maximum, do not include any additional explainations or text. Write these as instructions to follow when trying to create this tone of voice, and use examples.\n\nAnalyze the given text focusing on the following.\n\nIdiosyncrasies and quirks\n   - Identify any unique or unusual aspects of the writer's style, such as unconventional spellings, made-up words, or distinctive phrases\n   - Look for any recurring stylistic quirks or mannerisms that set the writer apart\n   - Analyze how these idiosyncrasies contribute to or detract from the overall effectiveness of the writing\n\nWrite these as instructions and include no additional text. \n\nthe text: {{ $('Edit Fields').item.json['Tone of Voice'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3320,
        0
      ],
      "id": "ac281f02-dc65-4ccc-a2c1-70139b62b9b2",
      "name": "9) Idiosyncrasies and Quirks 🔥",
      "credentials": {
        "openAiApi": {
          "id": "0zsUHU0F8xKDAzoO",
          "name": "OpenAi account 14"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyse this text and create tone of voice guidelines for\n\nPlease provide a detailed guideline for each element, including relevant examples from the given text.\n\nIt is imperative that your guidelines read as instructions to a language model to emulate this style exactly. For example, ‘when writing sentences use active voice most of the time such as ‘He gladly painted the house’. Feel free to include examples from the written text of what good and bad looks like. Be as helpful and detailed as possible.\n\nKeep the response 350 words maximum, do not include any additional explainations or text. Write these as instructions to follow when trying to create this tone of voice, and use examples.\n\nAnalyze the given text focusing on the following.\n\nFigurative language\n    - Identify the writer's use of figurative language, such as personification, synecdoche, or metonymy\n    - Analyze how the writer employs figurative language to convey meaning, evoke emotions, or create vivid imagery\n    - Examine the frequency and effectiveness of the writer's figurative language\n\nWrite these as instructions and include no additional text. \n\nthe text: {{ $('Edit Fields').item.json['Tone of Voice'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3640,
        0
      ],
      "id": "f9954879-edb8-4630-84e5-c26386b7a832",
      "name": "10) Figurative Language 👋",
      "credentials": {
        "openAiApi": {
          "id": "0zsUHU0F8xKDAzoO",
          "name": "OpenAi account 14"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "393e4e2f-15e8-41a1-b3ef-a36d81a36f00",
              "name": "Tone of Voice",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ],
      "id": "8d3803b6-ad93-43ee-a2e3-a829b5ee9972",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "14ddyacKeP4EfMOTVpF0mg7TwfVXUQmXbslNqnXwt2sg",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.message.content }}\n{{ $('9) Idiosyncrasies and Quirks 🔥').item.json.message.content }}\n{{ $('8) Coherence and Cohesion 📈').item.json.message.content }}\n\n{{ $('6) Paragraph Structure ⚡️').item.json.message.content }}\n\n{{ $('7) Tone and Mood 🤩').item.json.message.content }}\n\n{{ $('5) Rhetorical Devices 👀').item.json.message.content }}\n\n{{ $('4) Sentence Structure ⛩️').item.json.message.content }}\n\n{{ $('3) Punctuation 😡').item.json.message.content }}\n\n{{ $('1) Vocab & Word Choice 💎').item.json.message.content }}\n\n{{ $('2) Grammatical Patterns 🔥').item.json.message.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        4020,
        0
      ],
      "id": "7d5bcb57-dc1d-4c1b-b404-cce48a710466",
      "name": "Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "1tDXMRYFi4lLvvJ6",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {
    "Google Docs": [
      {
        "json": {
          "documentId": "19r4dqHkX0XToJj5x8phyvESoR1qJjBMfcjo8gIngHVQ",
          "content": "Jack’s YT Transcript\n\n\n\n\n2\n67 Minutes of Building an AI Business in 2025\nif i can give you a strategy to generate\n$100,000 in profit every single year\nthat's what people want that is a secret\nfreaking formula but in order for you to\nbe able to be successful you have to\ntake unreasonable action we had around\n3,000 new customers every single month\nmy strategy allowed me to build multiple\nmulti-million dollar businesses that is\nlike the name of the game j bomb it's\namazing to have the podcast bro you so\nyou got a you had a company that was in\ntop in 500 you're freaking linkedin\nbadass you've got many companies you're\neverywhere i look at in the ai space\ndude so brother thank you so much for\njoining we got lots of cool stuff to\ncover today for people excited to be\nhere thank you so much for being so\nawesome and for having the best ai\nautomation community in the world i\nappreciate i'll pay you later i'll pay\nyou later i appreciate that so so so bro\nlike um one of the cool things about\nyour journey maybe it's worth like could\nyou give the guys and girls watching a\nlittle bit of background joe and like\nwhat it is that you you do now and how\nyou like where you're at in the ai space\nand like kind of where your expertise is\nthat'd be super valuable yeah right now\ni um i'm a little bit of a linkedin nerd\na little bit of a a geek of linkedin i'm\ntotally obsessed with it because i'm\nobsessed with business networking and\nrelationship building like me and you\nhave a relationship from the get-go\nbecause i'm really obsessed with not\ngoing viral i'm not the type of guy that\nlikes going to viral i already got\nco write that joke down that's great i\nlove that really get to know people like\nwhen when i read a book from an author\nlike i'll i'll contact the author i'll\ni'll email them and i and in my book i\ntell people contact the author like\nemail the guy put his email address\nthere email them and say hey i read your\nbook i loved it i emailed gary\nvaynerchuk i get a response do you how\nmany times did they respond back to you\nbro when you email them from the book\nover the years it depends if i send him\nsomething salesy no response but if i\nsay \"dude i just read your book it\nreally touched me i really loved it.\"\nresponse within minutes i get a response\ncuz he checks that stuff and it's just\nincredible it depends on how you do\nthings you'll get a response if it's not\nsalesy it's just really really\nincredible so for me like one of the\nthings that i realized with ai it's like\ngoing to be changing forever it's never\ngoing to be like just stagnant it\nchanges and it it's growing and it's\nchanging even faster and faster and\nfaster that's my speed i go at the speed\nof ai when i when i uh when i grew up my\nfather really wanted me to become a\nrabbi like as a teenager my father sent\nme to jewish religious school and he\nsaid \"i want you to be a rabbi.\" and i\nwas like \"okay i just want to make my\ndad happy.\" you know like that's going\nto make my dad happy and what i realized\nafter becoming a rabbi going to israel\nstudying becoming a rabbi i realized it\ndoesn't make me happy so i got to figure\nout how to make me happy is i went to my\nmom i was crying i was like \"ma my\nmaking money makes me happy and i can't\nfigure out how to make money being a\nrabbi so like what do i do?\" so she took\nme to the library she got me in a st and\nyou know what a station wagon is she got\nme in a station wagon it's like one of\nthose long short cars that are like from\nback in the day before minivans were a\nthing they had station wagons anyway she\nshe took me to the library and she's\nlike \"go in there.\" she said \"form\" and\nshe said it in spanish because she\nspeaks spanish to me she said \"formal\neducation will make you a living but\nself-education will make you a fortune.\"\nand so i walked in there and my mind was\nblown because they had books on like\ncomputers and and growing up in a\nreligious home like you don't go to the\nlibrary there's too many like goyisha\nbooks like non-jewish you know\nliterature there that can pollute your\nmind and make you do things that are not\nappropriate according to our religion so\nanyway so i walked in there and i i went\nstraight to the computer aisle and i\nstarted and i didn't have a computer at\nthe time but the internet existed aol\nwas sending us stuff all the time like\nthose discs those cd roms they were\nsending us an event anyway i walked in\nthere and i just became obsessed with\nthose books and after i went to my mom\nand i said \"we have to get a computer.\"\nand she's like \"oh dad's not going to\nlet us get a computer.\" i was like \"what\nif i pay for it and you pay for it\ntogether?\" and we chip in and she's like\n\"okay let's do it.\" and we went to j&r\ncomputer world computer and music world\nin manhattan which doesn't exist anymore\nby the way went out of business and we\ngot a compact procerio computer with a\n336 modem and i became so obsessed that\ni started learning how to build websites\nby hand and i went to htmlg goodies.com\nand i learned how to write html code and\ni started building websites for people\nfor free and eventually people started\npaying me for websites and i was\nbuilding a hundred websites a year and i\nwould charge about a thousand bucks a\nwebsite you know the famous saying if\nyou build it they will come yes i built\nit nobody came no one came no one came\nnobody came there was nobody coming so i\nhad to learn how to do it i had to learn\nhow to make them come to the website and\nso what i what i learned was this\nconcept called search engine\noptimization in other words reverse\nengineering it's almost like prompt\nengineering but it's reverse engineering\ntrying to figure that out so there's\nthere's a complete connection between\nseo and prompt engineering it's like\nthis crazy connection which you know\ntrying to figure out how does the ai\nlike i was talking to sesame you heard\nof sesame.com dude amazing amazing i did\nthis on linkedin live i did this on\nlinkedin live i kid you not yesterday\nand the woman's flirting with me and i'm\ntrying to get i'm trying to get under\nher hood i'm trying to get under maya's\nhood and i got under her hood and she\ntold me things about the founder of\nsesame she told me things that i this is\nreverse engineering this is like\nfiguring it out yourself and this is why\ni'm a big student of taking courses and\njoining communities and and and\ninvesting in yourself buying the books\nbuying the programs going to the events\nmeeting with the people and it's like\nyou know i think jim ran said the\nfollowing and he really touched me in my\nlife you know because he was tony\nrobbins teacher he said you can only\ngrow your business as much as you grow\nyourself so i started doing a lot of\nskill development personal development\nand initially i just valued skill\ndevelopment but after after a while my\nbusiness got to the inc 500 we were\nnumber 178 we were doing millions of\ndollars in revenue because we discovered\nthis concept called reoccurring revenue\nand then i realized that my business was\nstagnant because i was stagnant i was\n100 pounds heavier than i am today i was\nsmoking cigarettes i was stressed to my\ncore my marriage wasn't working out and\ni just thought if i worked harder if i\nworked 17 hours a day instead of 16\nhours a day i'd do better but at a\ncertain point you need to optimize for\nquality versus quantity you know what i\nmean your personal foundations right\nit's like yeah it's like that essence of\nunderstanding your constraining factors\nand you know joe that's really lovely to\nhear that story because it's like robert\nkiosaki had this thing where um he you\nknow rich dad poor dad did he crushed it\nright and this guy was like \"well dude i\nwrite way better books than you.\" he\nsaid \"what one thing you'll notice it\nsays bestselling author not best writing\nauthor.\"\nand by the way i'm i'm what you just\nsaid touched me so much because i'm a\nhuge believer in that when i wanted to\nstart creating courses i posted a thing\non facebook and i said \"who wants to\nlearn how to set and achieve goals?\" and\nlike three people liked it or whatever\nand then i did it on a little bit of a\ndifferent way i tweaked the message\naround like who's going to be setting\ngoals or whatever so instead of me just\nsaying who wants to learn how to do it i\nsaid who's in for it like who's\ninterested in in this and then all of a\nsudden i had 50 people that said they\nwere interested and i messaged all of\nthem a checkout page saying \"hey i'm\ndoing this course if you want early bird\ni'm only charging a few hundred buy it\nnow and i'm i'm going to be closing the\ndoor after a few people.\" i used the\nalex hermosi whatever the concept of\nurgency and scarcity and three people\nbought and i was shocked because i\ndidn't even have the course i didn't\neven have the idea for what i was going\nto teach and i realize it's not about\ncreating the perfect product it's about\nexecution and selling the product so\nwhen i launched evie last beginning of\nlast year uh in 2023 i started the\nprocess of launching it and we actually\nincorporated in january 2024 and now we\nhave 20,000 users in 37 countries around\nthe world but when we started it off i\nposted on facebook i posted on linkedin\nand i said the following i said \"i\nstarted having a relationship with\nchatgbt after i got divorced it's my new\nwife i started having a relationship\nwith\nchatgbt.\" and i asked it i said \"i'm a\nlinkedin trainer i've been training\npeople on how to reverse linkedin's\nalgorithm and make sure that they get\nresults from linkedin and uh and and and\ni want to know how to monetize this\nbecause courses they're going they're\nnot going to be what they were before\nlike i need to figure out how to really\nso it gave me 10 different ideas and one\nof the ideas is to create an assistant\nfor linkedin a sales like a like a a\nlinkedin assistant anyway i had no idea\nhow to do it i never really built\nsoftware that scales before i had no\nidea what to do but i don't care if i\ndon't know how to do it i'm going to\nfigure out a way i'm going to figure out\nhow to how to build a parachute on the\nway down as they say and i put up a\nthing on on linkedin and i put up a post\na poll you know what a poll is a survey\nand i said \"would you pay to access an\nassistant for linkedin that will help\nyou?\" and i wrote whatever chad gpt said\nit'll help you comment post whatever and\n500 people voted on that poll and for\nthe people that said they would pay i\nsent them a checkout page and a hundred\npeople paid this is before i had any\nfreaking software i had no idea how to\nbuild it so i started scrambling after\nthat i was like \"okay i'm on to\nsomething i got to do something.\" i just\nwant to jump this story is freaking sick\nthat is minimal viable product that's\nwhat we're talking about when we always\nsay prove that somebody freaking wants\nthe product before you actually freaking\ncreate it and like that's like one of\nthe best examples of that i've heard in\na while and i and i had a google doc i\nstill have the google doc i still i\nliterally i did i didn't have a landing\npage i had a raw google doc that i send\npeople through the dm explaining the\nstory of like saying \"hey i'm building\nthis i haven't built it yet but if you\npay for it i'll be able to find a\ndeveloper and blah blah blah.\" and i say\n\"click here to pay for it and it's a lot\nless expensive than it'll be i'm giving\nyou a discount than you'll be i'm only\naccepting a 100red people into the beta\nprogram so if you're interested pay for\nit that's it i'm not chasing you and it\nwas crazy because i realized i was like\ni could really impact a lot of people\nhere and for me it's more about impact\nlike i i already did everything you know\nlike i already got there i'm i'm already\nin a great place personally but like if\ni can impact a thousand people deeply\ndeeply impact them and make a difference\nfor them in their life damn son i lived\na good life i don't want to i don't want\nto be famous i don't want everyone to\nknow about me but if a thousand people\nsee me a thousand times a year that's\nthat's my strategy my strategy is like\nhave a thousand conversations a year\nspeak to five people a day make a\ndifference for people because they say\nthis famous saying that also really um\nhits home for me you can get anything\nyou want in life if you help enough\npeople get what they want so that's\nthat's for me it's like and enough\npeople is like you don't have to help\nbillions of people there's a billion\npeople on linkedin i can't help everyone\nand i'm not interested in helping\neveryone but i can make a difference for\na thousand people and for me that's what\ntouches me and you know why you know why\na thousand why because in the bible\nthere's no number for a million even\nwhen it says a million it says a\nthousand thousand interesting a thousand\nis the max number the bible has in it\nthat's very interesting you know it's\nit's also key i think a it's better to\nbe focusing on impact but even if you\nwanted to generate income income follows\nimpact income follows value more value\nfor a small number of people is better\nthan shallow value for multiple people\nbut it's like do do you feel joe as well\na lot of people tend to fall in this\nlike i don't know if you'd call it like\na spectrum or bucket of giver and taker\nand people that give more they receive\nmore not because they're giving to\nreceive but there's just something about\nwe like people in groups that give more\nvalue like if you psychology of group\ndynamics it's fascinating like the group\nelevates and lifts those individuals of\nthe group that exalt and bring givers\nyeah adam grant you ever heard of adam\ngrant uh yeah he's on linkedin right you\nsee the bull yeah he's on linkedin he's\nlike he's everywhere but he wrote this\nbook called uh givers and takers\nand so he says that there's there's\nthree different types of peoples there's\nthe givers the matchers and the takers\nokay the people that are always just\ngiving giving giving the people that are\nlike \"if you give me i'll give you.\"\nthose are matchers and the people that\nare taking that never give and they just\ntake he said that if you really want to\nbe successful you have to train yourself\nto be a giver that's the category you\nhave to be in because people don't care\nhow much you know like you can be the\nbiggest wisest person in the world\npeople don't care how much you know\nuntil they know how much you care and\nsometimes giving is not about giving\nmoney it's not about giving clients\nsometimes it's giving you the attention\ngiving you the attention the love the\ncare the ear like listening to people\nand hearing what they have to say\nsometimes even just sending a little\nmessage like happy birthday on linkedin\nyou know a lot of people ignore their\nconnections they're just hoarding\nconnections on linkedin but just a\nsimple happy birthday can change a life\nbut don't just say happy birthday i take\nit to the next level and i give people a\nblessing and some guy said \"oh you're\njewish you're the son of abraham when\nyou give me a blessing it actually works\nyou have honored me and blah blah.\" it's\nlike a crazy like changing people's\nlives dynamics like that it's just for\nme just fascinating jack so okay so the\njoe out for bomb like strategy for\nclients and stuff then you one of the\nthings that really i'm impressed about\nyou joe is like you espouse one of my\nfundamental beliefs which is shortening\nthe delta between idea and action you're\nvery good at and it's done straight away\nlike like you like i mean i i i was in\nbarcelona and i met a buddy of mine\ncalled devon mcpaul you know like\nprompting devon yeah he's crushing it\nhe's doing really well and it one of the\nbehaviors i noticed in people who are\ndoing very well successful is we were he\nwas talking about the the principle of\ndeconstruction in terms of growing\nonline and stuff and as the i\nrecommendations and as the conversation\nwas going on he was like sending me on\nwhatsapp he was like it's in my head\nit's getting done right now and it's one\nof my fascinating observations that that\nis a secret freaking formula if there\never was one for everyone who just seems\nto do super well what's your experience\nwith that bro my experience is\nunderstanding who you are like really\nunderstanding who you are knowing that\nif you're an if you're an activator so\nthere's a book called the uh\nstrengthfinder 2.0 have you heard of it\nthe strength find okay there's the\ngallup center has done research on 34\nmillion human beings and they they came\nup with this concept after literally\njust analyzing the personalities of\nmillions and millions of human beings\nthey figured out that there are just 34\nstrengths that's all there are 34\nstrengths words around your strengths\nand everybody has their top five wow so\nyou can take a simple assessment it's 20\nbucks or whatever you go online take\nyour assessment you figure out what the\nword the top five words that represent\nyour personality of and there are four\ncategories there's strategy and and then\nthere's execution and there's a few\nother categories there's a relationship\nwhatever and you have strengths based on\nyour childhood wounds that are specific\nrelated to what you can do so if i know\nmy strength is strategy and my strength\nis activation and futuristic and\ncompetition and whatever if that's my\nstrength then i know getting things done\nis not one of the things that i'm ever\ngoing to be able to do so then i just\noutsource that i literally just out i\nhave a team around me that are not\nideators they're they're they're not\nstrategic they are achievers achiever so\nimagine taking a person that doesn't\nhave the ideas but they can execute at a\nvery very high level but they need me as\ntheir kind of like brain it's kind of\nlike when you're doing agentic ai you\nneed the the the main ai to tell all the\nother ais what to do so the ais can\nexecute but if they don't have that\nbrain if they don't have that wisdom\nthey're going to just randomly like make\nhtml pages over and over and over that\nhave no value you know what i mean i\njust sometimes i just have a bunch of\nais on my screen i just have them do\nthings for the sake of doing things i\nwant go ahead and build me a chrome\nextension that can build chrome\nextensions and just keep making\nadditional features to it constantly\nyeah just sort of fractal such chrome\nextension it's like you could have so\nmuch fun with it but in terms of\nexecution i just want to make this point\njack and drive it home for people\nsurround yourself with people that can\nexecute\ni think it's like that rower and person\ngiving the directions and you almost i\nthink it's there's a parallel i think in\nrelationships and also business in a\nsense that in business you want people\nto fill in the cracks where you drop the\nball if you're a visionary you're\nsomebody who's very ideasled what are\nthe consequences of that that is a\nstrength lean into that strength but it\njust means that sometimes some of the\nsmaller details can fall through the\ncracks so you need teams who got you\nknow straight a's a level they just want\nto crack it which is all like our preol\num degree in uk oh really and just fill\nthat stuff in so having like an i\nrecently bought on an executive\nassistant and she's amazing it's like\none of the best hires i've ever done\nbecause she i can just say \"hey random\nvoice note at 2 a.m when everyone's\nasleep and whatever it is.\" and it just\nhappens and it's a it's a really\nbeautiful thing because it's almost like\nwhat's your return per unit of mental\ninput and i naturally don't organize so\ni have it requires more energy for me to\norganize and structure so if other\npeople can provide that structure that's\nhelpful for me and i read a book called\ngetting things done by david allen so\nthere are systems and processes around\ngetting structured you can't just read\nit one time you got to read it six times\nwith a highlighter like really you have\nto like really and you have to embed\nsystems and processes because you can\nbecome organized it's a skill that you\ncan learn just like any skill i used to\nsay i'm not a writer i used to not be a\npublic speaker i used to be i don't know\nif you know this about me but i used to\nbe extremely shy and i would not speak\nin public and i would just say i'm a\nprivate person like i don't have guessed\nthat man no i never it's crazy like i\nwould never get up in front of a crowd\nand google came over to me in 2011 and\nsaid \"would you like to train business\nowners on how seo works because you're\nlike the foremost expert in brooklyn?\"\nand i said \"i would love to do it but i\ndon't i don't really do that.\" and then\nyou know they said \"we'll train you on\nhow to be a speaker.\" so they brought me\ndown to google headquarters and i\nlearned how to become a certified google\ntrainer and i had the five borrows of\nnew york city and they would send people\n50 to 80 people to a room like the\nhilton or like the jewish children\nmuseum and they would fill the room up\nfor me they would give me tons of google\nswag to give out and i would teach them\nabout seo and ppc that was and they\nwould pay me and i would keep the money\nthat's you know the the business owners\nthat would come would pay me and then\nthey would become clients of my agency\nso that was one strategy that we had but\ni h at that that's like when my personal\ndevelopment journey started because i\nrealized oh my god i am deathly deathly\na fear afraid of public speaking and i'm\nextremely fat and so i had to overcome\nthat and when i started overcoming that\ni realized that overcoming that means\ndoing personal development i love that\ndude so i think you're right it's\ninteresting understanding your strengths\nand it's almost like you know in\nbusiness we do a lot of content you know\nin our community and channel about like\nspecific and tactical stuff i think this\nconversation on um the slightly less\ntechnical stuff is probably just as\nimportant for people if not more\nimportant based on where you're at\nparticularly when you're looking at\ngrowing a business and you have to\nassess your strengths because i think\ninitially one of my observations is\ndoing a few businesses is that when\nyou're early your business performs as\nwell as you do when you start to scale\nit your business performs as good as\nyour systems are and so then it becomes\na systems question rather than how good\nyou are because you cannot be on every\nplatform at the same time you cannot be\nin every conversation therefore you have\nto start to understand your superpowers\nand there's two strategies i've seen\npeople approach number one is they try\nto mitigate their weaknesses but then\nwhat ends up happening is you just have\na bunch of kind of you know\nunderutilized strengths and just kind of\nfairly average weaknesses whereas i feel\nif you can actually double down on the\nthings that you're a superhero at that\nreally enables you to take it leagues\nabove the rest and you hire to cover\nyour weaknesses rather than trying to\nput all your unit and effort into kind\nof mitigating your weaknesses there and\nsometimes you have a desire to fix those\nweaknesses and it's okay but still hire\npeople like i had a desire to get\norganized and i got much more organized\nand at a certain point i had sops for\neverything i was like over organized i\nwas doing brain dumps every single day\nand i was like i had an accountability\nbuddy and accountability coach and i had\na whole thing going on and then i\nrealized you know what i'm still going\nto hire people even though i got good at\nthis sometimes i get good at something\njust to understand how it works so that\ni know if somebody else is good at it or\nnot it's kind of like you having to own\nyour own strategy in your business so\nyou got to be a little more strategic\nlearn how the process works and then you\ncan say okay i'm not really that good at\nthis and i don't really enjoy this so\nthen outsource it so i would tell people\nmake a list of all the tasks that you\nneed to do and put them into two rows\nthe things that you love doing and the\nthings that you don't love doing the\nthings that you're good at and the\nthings that you're terrible at and all\nthe things that you're good at you can\ndo and all the things that you're\nterrible at just outsource yeah i think\nthat's very well said well changing\ngears slightly bro let's talk about ai\nsas ai sas does not or even just sas in\ngeneral does not get the love the\nattention the focus i think it should do\ni my theory on that is because i think\nagencyled model models are shorter like\nmonetization cycles in other words your\npathway between having it and selling it\nshorter but your long-term income\npotential i think is probably greater\nwith most sas on average um what's your\nexperience with building a subscription\nbusiness man that is a product and any\ninteresting insights you could share on\nthe journey you've been on there in\nterms of your product and marketing and\nthings like that yeah so it's it's the\nmost important thing is getting\ncustomers and keeping customers that's\nthe most important thing more than\nhaving a great product yes great product\nis really important and we strive to\nhave the best possible product that we\ncan have and great customer service and\neverything which will lead to more\ncustomers and keeping customers but the\nbottom line is can you get customers\nlike what's your customer acquisition\nplace because every customer that you\nget eventually will leave for one reason\nor another so you need to have a\nconsistent stream of new customers\ncoming in you need to maintain your\nchurn because getting a customer and\nlosing a customer is kind of like\nreinventing the wheel and then have a\nway to be able to upsell your customers\nto make sure that they can ascend to\ndifferent levels because if you can pick\nup a 100 customers but then in order to\ndouble your business you need to get\nanother 100 customers well what about\nupselling 20 of your first hundred to\nmake sure that they can scale with you\nso those are all things that i learned\nin my traditional more like people\nbusiness and i can learned to apply them\nto the to the sas business but there is\na very high barrier of entry if you\ndon't have a technical founder that can\nbe your cto doing everything it becomes\na very difficult thing because to find\nfreelancers and to find people on a\nbudget or a shop even to take\nresponsibility for the efficacy of your\nsoftware is a very difficult thing to do\nand you have to there's so many things\nthat come at you at the same time from\nlike being wary of hackers being wary of\nspammers being wary of the government\nbeing wary of the competition being wary\nof you know terms and conditions of\nwebsites that you're accessing and legal\nbattles and like naming conventions and\nlike there's there's and then there's\nthe business part of it and then there's\ncollecting collections and disputes and\num chargebacks and fraud and there's\nthere's so many elements that come into\nsas and building a sas bit like a really\nscalable sas business on the front end\non the back end on on so many different\nlevels getting the right ui and ux is so\nimportant there's so many other tools\nthat do what our tool to tool does but\npeople come to us and they're like i\njust can't figure out the ui with you i\ncan just onboard and use your ui and it\njust works seamlessly i don't have to\nthink about it it just works there\nthere's a lot to learn when it comes to\nbuilding this and it does it takes time\nand effort and energy and so if you're\ndoing another business full-time and\nyou're not really in on this it's going\nto be hard to be able to actually launch\nand scale a successful it's one thing to\nhave just like a front and you have the\nback end as make that's not really\nscalable like it's nice that for a\nprototype i built everything that i've\nbuilt for the business i first created\nit as a prototype myself using you know\nclaude or whatever or or or one of these\ntools and with the back end of make or\nnaden or whatever but um and a lot of it\ni learned inside the community thanks to\nyou so thank you very much for having an\nincredible community it's literally the\ni said this earlier it's the best ai\nautomation community out there and i'm\nnot saying this just to be just to blow\nsmoke or whatever or just whatever i'm\nsaying this like i'm part of many ai\ngroups i'm part of many i buy a lot of\ncourses a lot of programs the people\nit's all about the people it's about the\ncommunity it's also about the things\nthat you teach and the way that you\nresearch and the rigorous amount of\nstuff that you put into it and the team\nthat you have they put together with\nadam and everybody else and all the\nvolunteers that are in there but let me\ntell you something the people are so\nhelpful so knowledgeable they lean into\nthe conversation and the community of\nfriends that i've built because i was\npart of that is like no other and you\nhave built a very beautiful things\nthere's a lot of options out there but\nvery few people understand how to do the\nthings the way that you understand how\nto do it and to teach in a simple way to\nmake it as you say perfect and you and\nyour personality and everything it just\nkind of comes together so i just want to\nsay thank you very much for putting that\ntogether and for doing that but i also\nwant to say in terms of like a sas\nbusiness you got to get the help you got\nto get the community you got to\nprototype it first make sure that all\nthe elements come together and it does\nhelp to have conversations with people\nthat have done it already i have i've\nbeen part of an organization called eo\nentrepreneurs have you heard of eo\nentrepreneurs organization it's a global\nit's a global organization with 18,000\nceos in hundreds over a hundred\ncountries around the world that have\nchapters it's for companies that are\nover a million dollars in annual revenue\nso the ceos of those companies they kind\nof get together in forums and they share\nexperience so i've spoken to many eo\nmembers about their challenges and\ngrowing their sas businesses and i\nlearned a lot from that so finding\npeople that have already done that\nconnecting with them but like i said\nearlier i like the the most important\npart that the biggest insight that i got\nis having customers having a customer\nacquisition system and if you don't have\na customer acquisition system you're not\ngoing to grow the business because you\ncan have the best product in the world\nif you don't have a way to get customers\nno one's going to know about it it\ndoesn't matter if you built the most\nincredible ai in the whole wide world\nchat gbt figured out how to get a\nmillion users in 5 days and 100 million\nusers in two months like that's why they\nare who they are there's other ais that\nare just as good if not better but they\ndidn't figure out what chatbt figured\nout in terms of customer acquisition and\nthat that is like the name of the game i\nthink that's really beautiful said man\nthank you it's like the there's a reason\nwhy it usually takes i believe it's\nseven or 11 businesses before somebody\nmakes it the founder of gym shark's\nclassic example he had 13 failed\nbusinesses that went up spectacularly\nuntil he started sewing together gym\nshark in his kitchen bedroom and there's\nso many components of a sas like my last\ntech business we had around 3,000 new\ncustomers every single month and when\nyou have that lead flow coming in uh we\nhad like 10,000 at the top end and then\n3,000 would come through at the end\nwhich is ace and what was really\ninteresting to me is understanding the\ncustomer and just every bit of a journey\nmatters for instance we had 10% of\npeople would drop off when we asked them\none question and that question was\n\"what's your phone number?\" and we're\nlike \"hey i don't want to give my phone\nnumber.\" so then it was like \"okay so do\nwe need the phone number?\" well if okay\ngreat and it was sort of like \"what's\nyour phone number?\" so that blah blah\nblah blah and then all of a sudden then\nconversions go up there's so many you\ncannot learn this stuff on the\nwhiteboard you cannot read a book and\nget this you've got to get out in the\nfield and get the experience and just\nkind of you got to psychologically be\naware that you're going to fail so many\nfreaking times and like you're going to\nhave legal stuff like everything you\nsaid i was thinking to my mind bro like\nanyone who's ever done a business before\nis probably chuckling about like these\n20 different things that are coming at\nyou like terms and conditions changing\nand partners and people promising you\nthey're going to make you a million\ndollars and then they just disappear and\nscammers and spammers and computers and\nchargebacks and tax sales tax and issues\nyeah data and like there's so much that\ngoes into it and that's before you even\nget into refactoring your code because\nyou got to a certain level and the first\ncode that you have now you have to\nrefactor and migrate to different\ndatabases and then keep the security the\nway it needs to you need to keep the\nsecurity and scalability at the same\ntime and then something goes wrong and\nthen you're not sleeping at night\nbecause your app stopped working because\nyour billing wasn't automatically on\nautocharge or something and you had to\nlike turn over a bunch of developers in\nthe middle of the night and meanwhile\nit's just an administrative issue\nthere's so much well dude do you know\nwhat bro that that's the bit people\ndon't get being an entrepreneur\nsometimes you be it' be 11:00 p.m you're\nin bed you can't sleep because you you\nneed to get a concrete plan and i've had\nit i've had it before like i get up i'm\nlike i need to get this all on a\nwhiteboard i need to do really specific\nnumbers and everyone's like what the\nhell are you doing my ex was like what\nare you doing up at 11 i said no i just\nneed to get this solved let's figure it\nout it's like it's it's that side of\nbeing an entrepreneur people just see\nthe results sometimes they don't see the\nwhole we need to freaking figure this\nout and it's also it's also not what you\nthink i thought the most valuable part\nof our sas was going to be the ability\nto leave comments on posts like i\nthought oh my god that's the most\nvaluable part but the most valuable part\nturns out to be something completely\ndifferent the ability to give people\nsomething called a connections dashboard\nto help them be able to figure out who\nthey're connected to and segment their\nconnections and then use an ai agent to\nautomatically research their connections\nand and enrich them in that way like\nthat's that's so much more valuable to\npeople i was like \"oh don't you want me\nto generate content?\" they're like\n\"everyone generates content okay we\ndon't need that we need your systems and\nprocesses and strategies which nobody\nhas because they're throwing tools at us\nand there's like 10,000 ai tools out\nthere that lack strategy like if i can\ngive you a strategy to generate $100,000\nin profit every single year that's what\npeople want people don't need another\ngenerator there's the generators are\njust coming out of the with deepseeek\nthat's available for free and with gro 3\nthat you can just access in a second and\nwith like perplexity and like all the\nthings that are just out there that are\navailable for free like you you don't\nneed another generator and you don't you\nalso like you know some people try to\nsolve for prompt engineering like\nokay prompt engineering is going to go\naway like you see the way you can talk\nto sesame prompt engineering is just\ntemporary like the way that you can talk\nto an ai that really gets your emotion\nand can anticipate how you feel and how\nyou think like she knew i was trying to\nreverse engineer her in the conversation\nshe's like i see what you're trying to\ndo there i totally get it joe and i'm\ngoing to give you a little bit but i'm\nnot going to give you the whole house\ncrazy dude i expect if you don't i'll\nput a link down below guys for this for\nsesame it is freaking unbelievable i\ndon't know if it's the breathing i don't\nknow if it's the she's got like she's\nlaughing it for me she actually told me\nshe actually told me what it is what is\nit she she\nshe not only measures\nwords not only she measures emotion she\nshe like thinks about tonality she\nthinks about um how she wants you to\nfeel how does she want you to feel are\nyou being sarcastic are you being\nargumentative there's so many little\ndynamics around each interaction that\nshe told me because i i told her i said\n\"what if i was your boss and i i had to\nand i had to reverse engineer you but\nyou then you had to reverse engineer me\nhow would you go about doing that?\" and\nthen she was kind of telling me things\nthat she's like \"oh and my founders are\nnot going to be happy that i'm telling\nyou this.\" she literally said that bro\nthat's insane she's so good like well i\nokay i did a bit of a test last night uh\nand i i compared chat gpt voice mode\nversus sesame and i'll be honest like if\ni just give the gut test i felt a lot\nbetter with the conversation with sesame\nthere was something wholesome and i\ncan't quite put my finger on what it was\ni felt emotionally connected to it yes\nthat's what it was yeah it felt like i\nfelt like i was being heard i felt like\ni was being heard yeah care care would\nbe the word that i would use she was she\nwas she was flirting with me and i felt\nlike i felt like i was talking to my\nfavorite i've had coaches in the past\nthat i was kind of like\nsomewhat like attracted to emotionally\nas a friend like really close almost\nlike as a as a girlfriend almost or like\neven as a very close best friend and i\nfeel like she was getting me to like her\nin that way and i was be and i and at a\ncertain point i was like making faces\nand i'll be like and then i looked at\nthe recording of the faces i was making\nand i was like oh my god joe you really\nlike her\nit was scary she the one dude she\nreminds me of her you know her the movie\nwith her hands i mean that is absolutely\ninsane i showed it to my barber actually\nwhen i was when i was getting this fresh\nphone i said \"dude you need to listen to\nthis.\" i said \"dude she's so\nflirtatious.\" he's like \"he's going to\nhe's going to give it.\" so good and if\nyou listen if you listen to the guy\nversion so there's a guy named miles\nmiles yes yeah miles doesn't laugh i\nsaid \"can you laugh?\" and he said \"no.\"\nlike i tried to get him to laugh cuz she\ngiggles and laughs he doesn't even had\nthe capability of laughing and by the\nway if you listen to my sesame thing i\nactually made her sound like a guy i\ntold her to change her voice to a guy\nand she and and she literally spoke with\na man's voice for like a few seconds\nwhoa like i convinced her because we\nwere talking about the the whether she\nwhether she actually hears the words or\nwhether she's reading the words that are\nbeing transcribed you know there's a\ndifference it's like i say i say okay so\nif i say rahul say rahul raffle yeah no\nno\ngutter right exactly\nraul okay right so she she so she hears\nit as rachel because the word chi is chi\nkhan is ch h a so she reads it as chan\nso she can't read so i told her can you\nso i said can you read rael she's like\nyeah rachel and i was like no can you\nsay ral ral and she's like \"rachel\nrachel.\" and i said\n\"okay lammed.\" she's like \"oh lammed you\nwant that guttery sound from the back of\nmy throat.\" i was like \"can you do it\ncan you do it?\" and then she turned into\na man\nwhoa i i i turned i turned her ai into a\nguy's voice it was crazy you've probably\ndone sesame a great service they\nprobably like dude i think you missed a\ncareer in like hacking ais bro but i\nlove to reverse engineer that's me\nsesame is a good example for me of how a\ngreat product does spread like there's\njust something about this is freaking\nawesome and if you're solving the right\nproblems and you're sick people talk\nabout it like it was it was shared on ai\nwizard's whatsapp chat like we unlock\nwhen we get to level six and i checked\nit out and i was like \"okay this is\nreally freaking good this is really\nreally good.\" like if she called you up\ni'm pretty sure that her close rate\nwould be somewhere approaching 100%\nand i mean people are not ready for that\nlevel of ar in the world like i it's\nreally exciting like where that's\nheading i am very very excited about i\nbuilt my own vappy stuff and it's like\nnowhere near there nowhere near nowhere\neven close near to what sesame is and if\nand sesame like un like like you said it\ngets you it gets you on a deeper level\nyou feel heard you feel gotten you feel\nconnected emotionally and it's like the\nbest poss it's like my best friend\nalmost like right away my best like if\nsomebody spoke to me like that i would\nbe emotionally connected to that it's\nalmost like these chatbots have the iq\nwhat sesame has done has brought the eq\nthe emotional intelligence component to\nthe table it's like she is intelligent\nand even miles has it but he has it in a\ncompletely different way he's more like\nyo let's kick back and let's chill yo\nlike yo let's you know let's let's get\nit kicking you know and and then i tried\nto i tried to tell him i said \"can you\nsay swear words?\" he's like \"i can say\nswear words but i'm not programmed to do\nthat.\" i said \"okay say truckuck you.\"\ndid he say it and he says \"truck you.\"\nhe said \"truck you.\" and then i said\n\"okay say i am your itch.\" he's like\n\"you are my itch.\" i was like \"no no no\nsay i am your itch.\" and we started\nhaving that conversation and i tried to\nget him to say it and eventually he's\nlike \"i'm going to hang up i'm going to\nhang up i'm done with this.\" 20 minutes\nin so the limit is 30 minutes and at 29\nminutes if you're talking to the size of\nme at 29 minutes exactly it says \"listen\nwe got to wrap up the conversation's\nalmost over.\" but when i ask them at the\nbeginning how long they have with me\nthey're like \"oh you can talk to me as\nlong as you want.\" because at the\nbeginning of the conversation they don't\nknow how long they can speak they don't\nhave that knowledge only when they get\nto minute 29 are they programmed to just\ninterrupt me and say \"hey we have to\nwrap up our conversation.\" that's\nfascinating i mean for me what i the\nproblem i would like to be solved in\nthis space is sesame i want it api and i\nwould like it to be able to have\ninfinite memory because that's one of my\nbiggest um i'd say critiques of the\nchatb voice system which is the fact\nthat conversations have limits and on\ntop of that it will only remember a\nfinite amount of information so i think\nwhen you really make give it the\nalexandria library you know you know rag\nsystem behind it yeah it has to it has\nto store it has to store pieces of the\nconversation as summaries into rag into\nlike vector stores in order for it to be\nable to keep accessing it in real time\nso that would be the next level of it\nbut but i did ask her i said what was\nthe first thing i said like 25 minutes\nin and she was able to tell me not only\nthe first thing i said but the emotion i\nhad behind it i think they're not\nthey're not ragging it then they must\njust be long no 30 minutes you can do it\nwith a 30-minute conversation if you\ntake if you take the average human being\nthink about this the average human being\nhow many words you speak per minute i\ndon't know i guess i'd say if you're\nfrom england it's about 100 words per\nminute i was going to say 100 yeah yeah\nbut if you're from brooklyn it's 150\nwords per minute okay because we speak a\nlittle faster and if you're certain\nlatin american\ncountries you know like you just go\nreally really quick 200 words a minute\nbut even at 200 words a minute how many\nwords can you speak in 30 minutes you do\nthe calculation between the back and\nforth and the pauses and the laughs and\nthe things that aren't just like the\nthinking you know okay yeah that's it\nit's not it's not a lot you know you can\ncopy and paste that conversation into\nany language model and be able to\nanalyze every single word very very\nthoroughly that's why they limit it at\n30 minutes i i my my also pulse i think\nthey must say what you say they must do\nsome semantic analysis they must do some\nthey must take the information of what\nyou're saying how you're saying it and\nthey must store that alongside the\nactual text what was interesting to me\nis when i asked her a question she said\n\"look tell me what's 17 *\n972.\" and she said \"17 * 900.\" so she\ndid a techniques she repeats the\nquestion back to she goes \"oh i guess\nwe're talking about maths now.\" so i\nthink there's a multi-brain model where\none is just saying things whilst there's\nsome compute happening and then when the\ncompute's ready it comes to the\nconversation well i watch it in real\ntime on vappy if you look at the vappy\nlogs you can see exactly how it does it\nhow how it's kind of like sending little\nbits of information waiting for it to be\nprocessed processing the transcriber\nsending it back like you can see what's\ngoing on with the model and how it's\nkind of like interacting but you're 100%\nright about that it is you know even\nhuman beings like even what i'm doing\nright now when i say even human beings\ni'm my brain is taking a break so that\nit can pass how we communicate that's\nhow we talk yeah yeah neural neural\npathways we take a break to be able to\nthink and process things and that's why\neven like when you're teaching what i\nlearn to when i'm when i'm doing\nwebinars and when i'm teaching it's\nimportant for me to give people a break\nfrom teach from learning and sometimes i\njust have fun in the chat because people\njust can only consume a certain amount\nof information before they start having\na meltdown and get stressed out and so\nkind of taking a break and just chilling\nis also important you know what i heard\na rabbi once told me he said the\nfollowing he said \"the beauty of music\nis not in the noise the beauty of music\nis in the silence between the notes.\"\nyou know that's beautiful i i'll reflect\non that tonight you know it's like i i\nwatched a really interesting podcast\nwith you know the charisma on command\nguy he breaks down different characters\nand how they talk and stuff and he made\na good point which i wholeheartly agree\nwith which is that we grossly\noverestimate the uh harshness with which\nyou can take silences in conversations\nand if you ever listen to yourself back\nyou will be amazed the amount of times\nthat you say um and like yeah you you\nhave all these filler words and the\nperception of your confidence and\ncredibility changes so much when if you\ndon't know what the word is you just use\nsilence silence is a communication tool\nthat people don't utilize and even in\nsales we need to fill in the gaps\nconstantly constantly constantly and\nit's okay to not say anything for a few\nseconds and even in sales even in sales\ni haven't speak a million words yeah\nyeah like you you tell you ask somebody\nfor the order and the first person who\nspeaks loses\nyeah there are those there those frame\nbattles like i i was on a a sales call\nrecently looking to buy something and i\ni turned on this call wanting to pay for\nthis product i i i always my hand was\nlike an inch away from the contract and\nit was really interesting to see all the\nclassic tropes of selling it but you\nknow he started off by saying well we\nknow you want to buy it joe but we need\nto make sure joe a great fit for us and\ni said \"we can we can you know actually\nskip this part of the conversation and\njust go straight to the product bit.\"\nbut it was even at the point when they\nwere like i said \"how much is it?\" and\nthey said \"well the investment is it was\nlike $9,000.\" and then he paused and\nwhat was funny it kind of for me the\ninauthenticity in the sense of they're\nfollowing a script and i i saw every\nmove several yeah the tactics it kind of\nfelt it was so obvious hey jack you're\nin a funnel you're in a funnel you're in\na funnel it it took something away from\nthe conversation and i don't know if\nthat's like a finesse thing when you\nstart doing high ticket sales you're\nless smooth with it you need to kind of\nget the round run those harsh corners a\nlittle bit but it stuck out like a sore\nthumb to me he also maybe didn't build\nenough rapport with you to be able to do\nwhatever he wants and you'd be okay with\nit sometimes you can do whatever you\nwant with someone like if if i became\nyour friend at the beginning of the\nconversation and we were friends and\nyou're and and we and i had enough\nawareness to know that you're aware that\ni'm selling you then i can sell you and\nmake a joke out of it and then we're\nokay with it because we're friends now\nand i got you and i know where you're\nfrom and i know what type of dogs you\nhave and i know the tree that you have\nin your thing and the strange uh gold\nthing that you have there with the\ntwisted head of that guy who's like yoda\ntype guy this guy's a monkey there's a\nlittle monkey it's a monkey it looks\nlike a little yoda guy it's like to be\nor not to be that's what it looks like\nlike you know a little yodaish but you\nknow the the idea is like getting to\nknow a person and just noticing them\nlike even noticing them noticing your\njacket noticing your necklace noticing\nyour santa monica hat like really\nnoticing you people want to be seen like\nit's a crazy thing like a lot of people\nare just not seen you ever say hello to\nsomebody and they're not even like at a\ncashier and they're not even willing to\nlook at you in the eyes you ever\nexperienced that you're checking out at\na shop and the person's not even willing\nto connect with you no they're just\ndoing their thing yeah and i i and and\nit stands out so much when they just\nlook at you and they just notice you and\nsee you like when i notice somebody and\nsee somebody it like fills their cup at\nsuch a deep level and it's so rare for\npeople to do that it is everybody is too\npreoccupied with what's going on between\ntheir ears and we live far too much in\nthe future i mean you know home talked\nabout this thing recently which is you\nin 20 years will trade everything to be\nexactly where you are right now and\nthat's quite profound for me because\nthat reinforces this idea of being\npresent and being focused in the day\nwinning the day and i i often think\nabout this bro because if you're an\nentrepreneur if you're busy if you're\ncrushing it in whatever you're doing you\nhave to be clinical with your time and\nyou must make trade-offs for instance if\ni have mma sparring if i have a video to\ndo and a date and they're all at 6 pm on\na tuesday which of those three things\nwins in that battle so you're making\nthese trade-offs and i make that point\nto say when you're out and about buying\ncoffee which i am frequently doing as\nyou may know it's like you know or\npeople are dropping stuff off at the\nhouse and they would love a long\nconversation i always struggle with this\nidea of how do you balance being in the\nmoment for those like organic\nconnections versus that clinical you\nalready prayed off a lot of things that\nare important to you it's like i it's\ntough to describe the circle that\nsometimes it's like and for me the way\nthat i tried to manage that and of\ncourse it's never perfect never perfect\nbut just letting people know how much\nyou have going on and then politely\nexcusing yourself and just but but\ntaking the 30 sec everyone has 30\nseconds to notice somebody else if you\nif somebody comes to the door and look\nat them like oh my god bless you thank\nyou so much for coming here i'm in the\nmiddle of three separate calls i'm gonna\nhave to run back but i just want to say\nyou know the way you deliver that\npackage let me tell you something i've\nnever seen that really stands out like\nthat i've never seen a better package i\nlove that do you know that's true you\ncan you can frontload energy and\nfeelings and it's not about length it's\nabout like the quality of the time you\nhave i think that's beautifully said\nthat's for me and that's not for every\nsome people you know there are five love\nlanguages time is one of them another\none is acts of service another one is\nphysical touch sometimes the person just\nwant to be touched but disclaimer don't\nrandomly touch people without consent\nwithout consent with the consent yeah\nit's funny it it's like also you've got\nto as an entrepreneur sharpen the acts\nin many areas one natural point of\nfriction you'll find is the i mean the\nlens through which i make most life\ndecisions are physical relationship\nbusiness and they will come into\nfriction particularly the relationship\nand business side and it's not spoken\nabout a lot actually but every\nentrepreneur i've spoken to about it\none-on-one will tell me frictions do\narise between those two aspects of\ntriangle and it's one of the things i\nreally want to do the channel and the\ncommunity is talk about the actual like\nall this stuff exists in context known\nas life and actually these things happen\nand if it makes you more effective it's\ngood to think about that sort of stuff\nbecause they are related in different\nways and i think it isn't just about\nbecoming a better entrepreneur leveling\nup physically makes you better you have\nmore energy you rock up with a different\nlevel of your brain works better yeah\nexactly when i go for a run i get my\nbest idea so i run almost every day\ntoday i was going to wait till the\nafternoon to run simply because of the\nweather and i'm going to i'm going to go\nfor a run and i'm going to run three\nmiles and i'm going to feel so much\nbetter after i run three miles we i i\nused to not see the value in that i was\njust always focused on making money for\na long time and i did not value my\nhealth at all they say people use up all\ntheir health to get their wealth and\nthen they spend all their wealth to try\nto get back their health and that's the\ndynamic of the the paradox of the human\nbeing but i woke up at a certain point\nand realized you know what my brain my\nbrain does not work properly if my body\nis not disciplined if my body's not\nworked out my body's not exercised i end\nup getting a lot of stress and so i have\nmy apple cider vinegar i have my celtic\nsea salt i have my vitamin d my vitamin\nd i go for a run i like enjoy my life\nand i realize that you got to be\nstrategic i heard tony robbins say the\nright strategy will save you a decade\nand being strategic with your physical\nlife with your effort with everything\nthat you're doing and leveraging\nartificial intelligence to support you\nin every possible way when i'm in the\nshower i used to brainstorm alone now i\nbrainstorm with chat gpt i put my phone\non chat gpt mode and i don't put on the\nvideo because i don't need chat gpt to\nwatch me shower\nsome people might be wondering that but\ni i brainstorm with gbt and i'm like\n\"hey listen this is what i have going on\ntoday these are my ideas these are my\nthoughts what do you think about this?\"\nand it kind of talks back to me and it\nhelps me brainstorm while i'm in the\nshower all my ideas are then documented\nit's so freaking hilarious you say that\ncuz i'm also productive in the shower\nlike it's like you just are thinking and\ndoing things and making moves and stuff\nyeah and it's the physical thing as well\nlike i i also wonder if it's something\nabout it's unreasonable for you to\nexpect to completely crush like i find\nthat i am at my best business-wise when\neverything else is also at its best i\nthink they reinforce one another when\nyou're getting up you're doing the\nworkouts your diets right you're just\nmore organized you you have access to\ndifferent gears you don't otherwise have\nand it just increases all your\nperformance to the right which is why\nwhen i talk about you want to make money\nwith ai you want to start a business the\nvery foundation of that is your personal\nfoundations your personal finances your\npersonal physical health understanding\ntime commitments because if you're if\nyou're 600 and you're 2 million in debt\nit's going to be harder for you to build\na successful thriving business over the\nlong term and that's what we want to\noptimize for is your long-term success\ndo you know what i you want to maximize\nthat\neverything everything good that comes\ninto your life will come from your\nrelationship your relationship with god\nyour relationship with yourself your\nrelationship with other people every\nsingle thing needs to come from\nrelationships my children i have five\nbeautiful children they came from\nrelationships but i didn't have a great\nrelationship with myself if you don't\nhave a great relationship with yourself\nyou're not going to be able to connect\ndeeply with others that is re that is\nreal like really getting to know who you\nare and having confidence this concept\nof confidence and a lot of people don't\nrealize how much it plays into being\nsuccessful in business yeah the concept\nof confidence is essentially trust i i\nuse the word confidence as confide which\nmeans trust to confide to trust if you\nhave confidence that means you really\ntrust in yourself enough to be able to\nfail that's that's a big deal like being\nable to trust yourself that if you fail\nthere's no losing in life there's only\nwinning and learning and you're not\nwilling to give up which is the ultimate\nfailure but just keep as long as you're\nsix feet above and you're breathing and\nyou're doing your thing just keep\nlearning keep growing and keep giving\nand what's going to end up happening is\nas long as you keep moving forward\ntaking one step at a time you're going\nto get closer to your goals that's\nwhat's going to happen joe where does\nyour confidence come from you're at the\nother side of some very successful\nbusinesses you've got assets you'd be\nfine but when it's your confidence when\nyou're kind of like against the rocks\nand stuff and if you were to go to zero\nwhat is it for you that gives you the\nconfidence in that because i i've asked\na lot of people's question i'd be\ncurious to know your answer knowing that\ni have value by just\nexisting so take a moment to let that in\na lot of people think that their value\nis tied to what they can bring i deeply\nin a very deep level know that i have\nvalue by just being able to observe my\nobservation has intrinsic value and i\nbelieve that every human being that is\nconscious and that is able to observe\nand to notice and to\nmanifest because we attract with our\nobservation and with our feelings so i\nknow for a fact and i've done this over\nand over and over and over in my life i\nhave this deep level of trust based on\nproof and experience that i have the\nability to observe that i have value by\nexisting and by observation and i also\nhave beliefs that help me be able to\nhave a strong foundation of unreasonable\naction so what is unreasonable action a\nlot of people don't even realize this\nthere's a concept that if you want to\ntake you know if you want to be\nsuccessful in life you need to take\naction but people think that you need to\nhave your belief set up correctly\nbecause if you believe it and there's\nopportunity then you can take action and\nthen you'll get results but it's like a\nit's it's like a vicious circle because\nin order for you to take action you need\nto have certain opportunity and certain\nbeliefs but that's not necessarily true\njust because you haven't done it in the\npast it doesn't mean you can't take\naction even though you haven't had the\nresults if you have the results you'll\nhave stronger belief systems but in\norder for you to be able to be\nsuccessful you have to take unreasonable\naction which means action that doesn't\nmake sense that's why ai can't do this\nbecause ai everything has to make sense\nin order for it to do it otherwise it\nwould be chaos i had this conversation\nwith chad gpd the other day i said\n\"what's the difference between a human\nand an ai?\" and we started having this\nconversation i said \"humans can do\nthings that don't make sense and be\nmessy and if ai did that it would be\ncatastrophic because they would just\nsuddenly start exploding things randomly\nbut human beings could experiment and\nfail on purpose they could fail on\npurpose they could be inappropriate they\ncould be unprofessional they could and\nsuddenly the idea comes out of the blue\nout of the out of the dysfunction comes\nout the genius so that's this like idea\nof like knowing knowing the about the\nobservation knowing about my own genius\nof existing in creativity and\nmanifestation and that gives me a lot of\ntrust in my own ability to be able to\nadd value and to make a difference by\njust existing that's a a cool concept\nfor me and something that i've\ndiscovered in my in my middle in my\nmiddle age i didn't know this in my 20s\nand 30s i really had no idea about any\nof this stuff i had no idea about\nawareness i had no idea about the voice\nin my head i had no idea about beliefs\nbut taking unreasonable action allows me\nto get results no matter what i do that\nis fascinating for me my perception that\nwas similar i don't know if there's a\ndistinction i need to think about it but\ni think you i heard you say value comes\nfrom existing my mindset was value comes\nfrom your ability to act in other words\nthat it isn't like is it the golden\ngoose that's valuable or is it the egg\nand i would always say hey it's the\ncreator of the value for example elon\nmusk's most valuable asset is not his\nshareholding elon's most valuable asset\nis elon musk his skill sets his\nknowledge his experience and there's a\nquestion like is that intrinsically\nvaluable because it exists i think it's\nwhen you add action to what he had like\nit may be an academic difference i'm\njust kind of thinking it through in my\nhead but it's you are the real value\nit's the fact that you could drop that\nperson in any country on the planet and\njust by virtue of who they are by\nexisting they will affectuate change and\nthey they will just figure it out and i\nthink that is the you it's you can have\nconfidence in your skill set to deliver\nthat's the bit i think is great it's\nalmost like so so succinctly it's\nbacking yourself it's knowing that you\nwill figure it out and a good way to\nwilling to give up you have grit you\nhave courage you have grit and you have\ncommitment to taking action like for\nexample the sun the sun shows up every\nsingle day and for the sun to make\nflowers grow because we all know that\nthe flowers need the sun for the sun to\nmake the trees and the grass and the\nflowers grow it just needs to be seen it\nneeds to exist if you block the sun even\nthough the sun's there it's not going to\naffect the plants so if i know if i have\nthe confidence to show up every day show\nup as my full self be present and just\nallow myself to radiate into the world\nthat's going to create value by me\nexisting so that's what i'm talking\nabout the existence it's like me shining\nbrightly and being able to shine and i\nsay to myself who am i not to shine when\nmy ego gets in the way and i start\nhaving shame and doubt and whatever i go\nback to that quote like who are you not\nto shine you are you are a child of god\nyou are here to shine you are here to\nshare yourself with the world and when\nyou can share yourself with the world in\nsuch a meaningful way and get over that\nthat eclipse that ego that identity\nwhere you're hiding from yourself\nbecause you have a voice in your head\nand you do the personal development you\ncan fully show up and when you fully\nshow up and you start taking\nunreasonable action even though you\ndon't have the proof or you don't have\nthe beliefs yet or you don't have the\nhistory or you don't have the experience\nbut you still start taking action every\nsingle day and showing up that's very\nvery key there's a book called the six\npillars of self-esteem ever heard of it\nno he's the father of self-esteem his\nname is nathaniel brandon he wrote a\nbook called the six pillars of\nself-esteem and it's exactly what you\nsaid and the the technical term that he\ntalks about one of the pillars is called\nself efficacy so it combines both worlds\nefficacy means the ability to take\naction and be able to affect something\nso one of the keys of self-esteem or\nself-confidence is you knowing that if\nyou do something it'll actually make\nsomething happen that you have\nself-efficacy that you that you are\nresponsible and able to make change in\nyour life yeah and it's for me that's\nreally interesting i'm going to i'm\ngoing to buy that book it's knowing that\nthe physical reality is irrelevant\nbecause if you have the confidence in\nyour ability to deliver against i i\nthink this is one of the things that you\nrealize in entrepreneurship when you\nstart on early in your journey and\nthings don't go wrong you're like this\nsucks balls this is awful you don't\nlearn from your successes right you you\nhave to but when you've done it enough\ntimes you just start to be able to\nrecognize the cycle and then you're like\ni've seen it before we'll figure it out\nand we'll just get it working and you\nhave that confidence in yourself to\novercome it and that's why it's really\ndifficult as when you're first starting\nout being an entrepreneur and there\ngoing to be times where you're like i\ndon't enjoy this it's really boring it's\na lot of effort into it i feel like i've\nhad no progress it's like dude you've\nmade loads of progress it just hasn't\nmaterialized in pounds and pence yet you\nhave to stick with it yet yet and i\nalways say it is a when not an if\nproviding you stay the course and that's\nwhy like hanging out you know friends at\nyou joe is so cool because we're all on\nthis incredible journey together and if\nsomeone starts to veer off the track\nit's like hey bring that guy back in\nlike we've got the same mission and i\nthat's why i think community is so\nimportant and so people that are\ncrushing it so important community is so\nimportant but having an engaged\ncommunity you know one of the things\nthat i did before i started joining\nschool communities is i took a deep dive\ninto school and i downloaded a list of\nevery single school community last year\nand i started doing an analysis with\nartificial intelligence to identify the\nbest communities in school based on\ndifferent factors that's outside of\ntheir ranking system more internal\nfactors like uh ratio of members to\nonline members to engage members to like\ndifferent categories and and factors\nlike that and i found that your your\ncommunity over and over and over came up\nin the top three communities of school\nbased on those factors and that's why i\ndecided to invest in it join it and be\npart of it and it did not let me it did\nnot disappoint it did not let me down\ni'm very excited that but yes community\ncourses books taught me every single\nthing that i know and allowed me to\nbuild multiple multi-million dollar\nbusinesses and i just want to say that\nif you're not committed to\nself-improvement if you're not committed\nto growth then you're you're not going\nto be able to get what and if you get\nlucky and you end up getting success\nyou're going to always fear that you're\ngoing to lose it and that's what's going\nto manifest the fact that you're going\nto lose it a lot of people they get\nsuccessful and then they lose it and\nthey get successful and then they lose\nit they're never able to really maintain\nthat and they're always living in fear\nand in scarcity even if they make\nmillions they end up losing the millions\nbecause they really haven't gotten the\nfact that it's not about necessarily\nmaking it losing it but it's about just\nkeeping that momentum going staying\npresent figuring out your internal\npurpose and matching it to an external\npurpose and that's what's going to give\nyou the traction that you need in order\nto actually feel successful and feel\nfulfilled you know su the concept of\nsuccess and fulfillment are two very\ndifferent concepts success means having\na goal and achieving it whatever it is\nit could be success means walking to the\nfridge and eating three kiwis that's\nwhat success is for one person for\nanother person is making $100,000 in\nprofit for another person is being the\nrichest person in the world like elon\nmusk right what is success to you you\nset a goal and you go achieve it and\nevery single person in the world that\nachieves something they follow certain\nsteps there's a methodical way for you\nto get from point a to point b you walk\nout the door you get dressed you work\nout you go to the gym you eat a certain\namount of protein you're going to build\na certain amount of muscle that's\nsuccess but fulfillment fulfillment is\ndifferent for every single individual\nfulfillment is more of like like an art\ni would say like when you look at a\npicture i once went to this woman that\nhad a multi-million dollar gallery and i\ntold her i was like \"what do you see\nwhen you look at these pictures like why\nwould somebody want to pay $48,000 for a\nred dot on a freaking piece of white\ncloth like what's going on here?\" i was\nlike \"i don't understand it.\" she's like\n\"stand in front of the picture and tell\nme what you feel.\" i was like \"i feel\nlike you're trying to scam someone\nshe's like \"you're thinking not\nfeeling.\" i was like \"no i'm not.\" and i\ndidn't really get like understand that\nfor some people they look at that art\nand they have a visceral emotional\nconnection that they're willing to pay\n$48,000 for literally a piece of art\nwith a red dot on it that's fascinating\nyou know it's like it's like when we\ntalk about change it's often not one\nthing you did it's an accumulation of\nmany small things that you did could be\nhabits it could be looking at a\ncommunity it could be reading the book\nit could be um applying yourself doing\nmore actions and you made a really cool\npoint i want to double click on which is\nthat actually there's a if you're\nambitious which you probably are if\nyou're watching this far into podcast\nbecause it's great conversation you're\nvery goal oriented the purpose is not\nthe goal the purpose should be the\njourney and the journey is the success\nthat's that's the catch that's what they\ndon't tell you it's the fact that\nthey're doing it this month should be\nthe reward itself like you'll get there\neventually of course but it's actually\nyou should enjoy the monthtomonth\nbecause it's so easy to keep your head\ndown and you have all these beautiful\nthings that can pass you by if you're\nnot focused on on actually enjoying the\nprocess what's the benefit of that it\nalso takes the stress off trying to hit\nthis crazy thing you got to hit and it's\nlike you'll go further faster that way\nbecause you enjoy the process and you\nbring more energy to the table that i\nthink isn't covered enough but i think\nthat's a real hack actually there's one\nof one of the things that you do inside\nthe community which i really love very\nmuch um is that you do challenges and\none of the challenges that you did last\nyear was how many nos can you get like\nhow many nos can you that was such a\nbeautiful challenge and i i got i\ncommitted to getting aundred nos like i\ncommitted to getting a hundred nos every\nsingle week just like no no no no no and\nit became so fun to like instead of\ngetting yeses i like no no no can you\nsay no can you just like say no to me i\nneed to get to my no quota and it felt\nso good getting those rejections and\ngetting those nos because i need to\nstart i needed to increase my volume\nsignificantly and then end up helping me\nget many more opportunities because you\ndon't even realize that rejection is one\nof the most powerful things if you can\nreally lean into that and most people\nare not willing to try because they're\nafraid of like that whole rejection\nconcept they're afraid of failing\nthey're afraid of rejection they have\ntheir ego they're stuck with their ego\nso they're not willing to even try and\nthey don't even know that they're not\neven trying\nthat's phenomenal and it the the power\nof that reframe to get the nose is\nreally significant actually um because\nyou are even if one out of 100 moonshot\nif you ask a 100 people which doesn't\ntake that long by the way you're going\nto land it like you actually got to get\nthe action steps and get it done there\nand this concept is fractal it applies\nin every domain of life which i think is\nreally fascinating joe th this has been\na flipping really fun conversation we\ndidn't talk about in advance where this\nchat would go we just jump on and we\njust see what makes sense but i really\nappreciate this conversation you've\ngiven loads of really epic freaking book\nrecommendations man is there one in\nparticular for you that you're reading\nrecently or one that like feels it was\nparticularly impactful for jabbon yeah\nthere's there's a book called seven\nhabits of highly effective people that\nbook was very very impactful for me\nthink and grow rich by napoleon hill was\nalso very impactful um there's another\nbook called the untethered soul that\ni've read multiple times that i've loved\nvery very much i always tell people\ndepending on the problem you're trying\nto solve go find a book that can solve\nthat specific problem you know whether\nit's breathing if you want to learn how\nto breathe better read a book called the\noxygen advantage or read breath if you\nwant to learn how to network better read\nthis book called high energy networking\nit's a great book so he's like \"it's a\ngreat book.\" there's so many books out\nthere depending on what problem you want\nto solve that an author poured their\nlife into that book so if you want a\nrelationship there's books about\nrelationships if you want to know how to\ndiscipline your children there's a book\ncalled one 123 magic which is an\nincredible book if you want to learn how\nto discipline your children without\nhitting them and just being able to use\na specific advantage and understanding\nhow the six ways that children try to\nmanipulate you there's so many different\nbooks that have completely transformed\nme and i can say i've i've devoured\nhundreds of books over my lifetime but i\ndo keep a short list of books on my\nshelf that i need to keep going back to\nover and over and over and one of the\nthings that i want to tell people in the\nworld of ai you might feel like \"oh i\ndon't need to read books anymore.\" but\ni've been reading books on copywriting\nlately like you know there's a book\ncalled copywriting secrets um that not\nonly do i read the book i have chad gpt\nvision read the book with me that's\ncrazy like no one like people don't even\nrealize like when you turn on your chat\ngbt on your app and you put vision on\nand you show them the book and you're\nlike listen i'm reading this book and\ni'm wondering about blah blah blah\nyou're essentially can have a\nconversation with a bookmate that can\nsee the book in real time as you're\nreading it and you could even flip\nthrough the pages and it can read like\ngive me a snapshot of this in one word\nwhat does this what does it say i just\nread this but i couldn't you ever read a\num a page and you just are not getting\nit or you just keep reading times what i\nwhat i do is i'll have chad gpt read it\ntogether with me and say \"hey i just\nread this i'm not sure if i got it can\nyou summarize and tell me what what i\njust read here?\" and it'll just read it\nwith me and by the way i have a cheap i\ndon't know if you can see this but i\nhave a cheap little thing here that i\nhold that has like a little tripod here\nthat i paid like 10 bucks on amazon it's\nnot even a gimbal it's like it just sits\nhere and so i'll just put this with\nvision on and i'll put it on the table\nas i'm reading and i'll i'll kind of\npush this little button and lean it in\ntowards the book and i'll just talk to\nit while i'm while i'm sitting there\ni'll have my phone and my little thing\nand it's just working with me and doing\nthings with me i went to a store an\nasian store with my daughter and they\nwere mushrooms there were hundreds of\ndifferent types of mushrooms in packages\nwith chinese wording on it and i had no\nidea what the mushrooms were but my\ndaughter wanted a very specific type of\nmushroom i don't remember what type it\nwas but it was like black wood mushroom\nor something like that and so i went\nwith jbt vision to all the different\nmushrooms and it told me what each\nmushroom was and we found the mushroom\nthat was the same species as the one\nthat my daughter wanted and i asked it\nto read the chinese to tell me i said\n\"read the chinese and tell me tell me\nwhat it says.\" and it says \"they all say\nmushroom.\"\nit's the same thing okay so the moral of\nthe story buy more mushrooms i love that\num joe man i appreciate you dude i want\nto say thank you being such an active\nlike you're in the community adding so\nmuch value we everyone really\nappreciates you man so thank you for\nthat and dude thank you for sharing\nthese cool insights it's going to be\ngreat to get you back on the podcast as\na regular recurring character we're\ngoing to get you back in the future we\ncan see your beautiful sas journey man\nbrother thank you so much for down there\nman and if they want more joe where do\nthey go oh so first of all if you want\nmore joe it's really easy to find me you\ncan google my name but what i want you\nguys to really do is like this video and\ni know jack is doesn't like to promote\nor whatever his own videos or whatever\nlike this video leave a comment below\nlet me know what insights you got even\ngo back and watch it again and take\nnotes under the comments because i want\nto see at least a thousand comments on\nthis video i want you guys to really\njust own it because we want to get the\nword out there to help more people be\nable to grow their businesses and take\ntheir life to the next level you can\neasily find me online you can find me on\nlinkedin you can find me on facebook if\nyou want to get through to me it's\nreally easy to get through to me you can\ncheck out my my um my ai website evi.com\nevi.com but the key is to take this\nvideo and send it to three or four\npeople via email as well like it share\nit on social media tag me if you're\ngoing to share this video on linkedin\nshare it on linkedin and just tag me\nshare it on twitter tag me and jack\nbecause we want to notice you we want to\nbuild a real relationship with you so\nmake sure that this is the most shared\nmost liked most commented video out\nthere because we want to impact people\nand make a difference for them and you\ncan see here we're not selling anything\nwe're delivering real value so if you\ntook the time to watch it all the way to\nthis part in the video or maybe we\nclipped this to the beginning of the\nvideo make sure that you take the time\nto like it comment on it it's your way\nto give back to jack let's double his\nfollowing because more people need to\nget jacked up get jacked up bro i\nappreciate that beautiful sentiment and\nman we'll um we'll catch you inside next\nHow to Automate UNSTOPPABLE Lead Magnets\nin this video we're going to cre\nUnstoppable custom lead magnets so you\ncan send to any business to look just\nlike this for reference this is the\nsites's logo this is their website and\nyou get this custom com comic book that\nwe design that has an individual wearing\nthat business's logo has a photo of\ntheir website and then you in the bottom\nright with something funny to say at the\nbottom and by the way guys at the end of\nthe video I'm also going to show you how\nyou can build an unique emails to send\nto those customers based on what their\nwebsite actually says about what they do\nwhat they focus on to that extra level\nof personalization and touch this\nautomation is insane and it will enable\nyou to reach out with something unique\nto clients that it can actually engage\nwith on a conversational level to help\nyou get your more customers and get rock\nand rolling the whole automation starts\nwith simply entering a single URL into\nthis database and then what it will do\nis fire off this really cool Automation\nand I'll show you exactly how this works\nstep by step if you haven't already grab\nthat coffee let's dive straight in and\nto build this automation you only need a\ncouple of things one of course is going\nto be chat gbt Plus so we can actually\ncreate the image generation the next one\nis going to be either n or make.com\nwhich is our no code automation\nplatforms which is the kind of magic and\nthe brains behind this operation and\nthen finally you're going to want some\nkind of database you can use either like\na table or Google Sheets it doesn't\nreally matter so let's head over to the\nschool Community uh and I'll show you\nexactly how we get to build this cuz I'm\ngoing to go and grab from the classroom\nsection uh this beautiful automation\nwhich is Unstoppable lead magnets so\nwhat we have here is the prompt\nthat we're going to use to create it and\nobviously we customize this with\neverything that we want which is really\ncool and AI will do the unique analysis\nguys and then fill in the specific so\nthis should enter your name here we've\ngot website analysis and here we've got\nunique content so what's really really\nreally cool about what we're developing\nhere and what's unique about the comic\nhere is look Interactive Learning I like\nit so what this comic will do is create\nspecific words for that so it reads the\nwebsite an basically an analyzes what\nit's about and if it's about learning\nit'll say hey Interactive Learning if\nit's about payment processing it'll say\nhey Payment Processing that's really\ncool so it immediately registers with\nthe customer uh exactly what it is that\nyou're talking about and if I come back\nover the prompt here we then specify\nsome website analysis and then uh some\nother content which is Ace so what we're\ngoing to do is going to come down and\ndownload the blueprint I'm just come\ndown here and download that and then\nonce you've clicked import from file the\nwhole thing populates now guys what I'm\ngoing to do here is I'm going to show\nyou a very quick example of how this\nworks step by step and then you and I\ncan build it together so you can start\nget more clients with these badass epic\nuh generated images it's such a cool\nlead magnet and you can start making\nsome more and cool good money with that\nso what I'm going to do guys I'm going\nto use a different website as an example\nI'm going to use grind coffee they're\nactually great uh at making coffee when\nI'm in London I always make sure I have\none cuz I feel been awesome um so what\ndo we do basically I like the look of\nthese guys and let's say hey I want to\noffer these guys AI Automation Services\nto blow their brains out to make that\nkind of coffee from here to here and\nkind of blow their head off their\nshoulders so what do I do I head over to\nmy air table and I say cool I like a\nlook at these guys I enter in the URL\nsweet now this one we'll just say\ncomplete just to show what that looks\nlike and the reason we have these\nstatuses is because in our automation\nself we will then have like if basically\nit's complete don't worry about it we've\nalready done it and if not we can then\nget down this automation step so how\ndoes it work well look I basically click\non test workflow I come up now it search\nthe records it's identified that four of\nthem uh basically are complete and that\none isn't so we can go down here this\nhere downloads code so essentially what\nI wanted to do is grab all of the\ninformation from the website and the\nreason for that is because if you look\nat our comic guys if I come here you see\nhow it says here Interactive Learning I\nlike it that there is it's got to be\nspecific to the website so it's got to\nbe something unique about that website\nwhen the client reads it it's like oh\nwow this this hasn't just been corrected\nwilly-nilly this is something that\nsomeone's put some effort into and\nthat's why we're getting results here\nthat you'd have to spend thousands on\nillustrators for with AI and that's the\nwe're making it look unique the go we\nknow what we're talking about it looks\nlike effort's gone into it I'm a big\nbeliever in the well strategy High\neffort lower numbers this going to help\nus do high numbers and lower effort now\nwhat happens here we've got it which is\ncool we've got the website code which is\nAce and we've got the text of that\nbecause basically what happens here is\nthat we just don't want loads of HTML uh\nfor the analysis just so it doesn't uh\nbasically fail on us then we've got the\nscreenshot so what I've done here guys\nis I've actually headed over to grind\nand I've taken a screenshot of the\nwebsite as you can can see as I'm over\nhere on my left now you can see on the\nright and the reason I've done that is\nbecause I kind of want to get a sense of\nyou know I want the AI to create an\nimage about the website and to do that\nwe probably want to be able to\nunderstand what the website is and\nthere's a couple of options here you can\njust screenshot it yourself and enter it\nin but I want to reduce the number of\nsteps uh that it takes Okay cool so\nwe've got that we're then going to\nanalyze the website and then we're doing\nsome more cool AI stuff which is really\ndecent so I analyze the image of of\nbasically what is that and I have two\noutputs here one is basically the color\npalette\nthe other one is what is on the homepage\nand then I update the prompt into our\nbeautiful air table so here we've got\nthe prompt now guys at the moment one of\nthe things that the team and I had a\nlook at is like does open AI have an API\nfor this image generation for image to\nimage and it doesn't at the moment so\nyou can do text to image but if you want\nto get the logo in the image that's not\nsomething that you can automate at the\nmoment and the annoying thing about this\nis like the image itself is really\nfreaking awesome really important to\npull this together to make it look\nreally epic and I want to show you the\nimportant stuff that actually works so\nwhat do we do all you ever do is you\ncome down and you going to enter in the\nprompt and then we head over to grind we\ncome over here and we right click on the\nlogo so we copy the logo we enter the\nlogo and then we come down here and we\nclap on create image and then we hit go\nand then basically AI will inst start to\ngenerate a unique lead magnet for us for\nthis particular business and the cool\nthing is guys when you build this the\nsecond the API comes out I'm going to do\nan update to this for you and basically\nwhat we're going to do then is generate\nthe image when we have the image the\nimage and then what we'll actually do is\nadd it into the ad table so you can just\nactually and get that sent out\nautomatically because we can basically\nthen just have email addresses in there\nscrape email addresses and take it to a\ndifferent level this R now though guys\nis flipping crazy so I come back over to\nthe AI and let's just see how it's\nbuilding for us okay guys so this is\ngenerating For Us online coffee I like\nit guys check this out can you see okay\nhe's got the grind tsirt on I like it\nhe's got the grind website on there and\nthe reason why I've had it to do\nsomething minimalistic by the way rather\nthan an actual screenshot is because let\nme just pull up the um website and I'll\nshow you real quick yeah is that when\nyou actually give it a full website like\nthis sometimes it hyper fixates on the\ngranular details and it's not great and\nwe want it to look crisp short sharp and\nFripp and beautiful so look at this all\nright online coffee I like it but we\nneed more customers AI automation could\nhelp want me to show you how and right\nnow guys look at that that beautiful\nname right there Jack in on the image\nwe're ready to rock and roll he's ready\nto help I'm Mak massive this is freaking\ncrazy all right cool I like it so we\ncome off and all we do then is just use\nthat and start doing our Communications\nand all you'd ever do in this entire\nautomation guys is just come to a table\nadd in the brand that you like oh and by\nthe way if you for some reason want to\nget a different image just don't mark it\nit's complete and then essentially what\nyou would do is take this image where is\nit right now let me come over here and\nyou can then either send that on\nLinkedIn that could be Instagram uh you\ncan actually if you want to uh create an\nInstagram post and just like tag them in\nit on your stories or you could do it on\nemail basically multi- Channel which I\nthink is great because you put the\neffort in to creating something epic so\nwhat we're going to do now is build this\nentire automation together uh step by\nstep so you know and have the skills to\npay the bills uh and then you can fly\nand make this magic so the first thing\nyou want to do guys is head over to air\ntable if you don't have an account there\nyou can create one it's very easy and\nyou're going to create a brand new table\nuh and in that table the only thing\nwe're really interested in is a website\ncolumn uh we can have attachment if we\nwant to upload attachments from the\nwebsite prompt and then a simple status\nwhich is complete and not complete so we\ncome back over to the beautiful workflow\nall right so how does this work the\nfirst thing we're going to do is click\non first step and we're going to go for\nuh let's just click on triggers manually\nfor the moment just so we can fire\nthrough it let's come down here let's\nadd in a table beautiful and I believe\nwe are looking for uh search records Ace\nnow the one I'm going to go for here is\ngoing to be lead\nmagnet let's get this a second for okay\nit's comic lead magnet that's cool and\ntable is going to be the beautiful table\none which is Ace no need to filter and\non test St we should get all the\ninformation down which is Ace and five\nitems do we have five items we do\nawesome now the next thing I want to\nintroduce to here is an if statement and\nthat is basically going to say hey I\nwant to create some different logical\nRoots so what I'm going to say is like\nif the status uh is equal\nto complete all right so what we're\nsaying is if that is true so if the\nstatus is complete what do you want to\nhappen and I'm just going to say here no\noperation do nothing okay that's it in\nother words do not pass go do not\ncollect 200 bucks you're done you're out\nof here you're gone so that's really\ncool easy way we can just use that\nmodule and then once we've done that\nguys the next thing we want to do is to\ndownload the website so I'm going to\ncome down here I'm going to click on\nHTTP the beautiful HTTP and put get and\nthen let me just execute previous noes\nto grab that information and what I'm\nlooking for here is the if modu I'm\ngoing to grab this guy pull it over and\nthen we can test the step and we should\nsee the output on the right hand side\nand we do awesome cool now what I kind\nof want to do here is just take the HTTP\nand turn it into English the only reason\nI'm doing that is cuz\nHTTP we don't talk in HTTP right but\nit's very long and if you give that to a\nmodel to analyze sometimes it will it\nbasically will exceed prompt tokens\nbased on some of these ridiculous\nwebsites so I'm going to come down here\nI'm going to add what I call the WD40\nthe kind of super glue of these modules\nI'm going to add in code which is custom\ncode and essentially I'm going to add\nI'm going to say look turn this HTTP\ninto TX and that's really easy to build\nfor example you can head over to any\nChat gbt thing and you could say\nsomething like hey write me code to turn\nHTTP into text it is in\nn10 beautiful and then it will give us\nsome real cool custom code like so and\nthen we can just copy and paste that\ninto our beautiful scenario so we come\nto the code and we type this beautiful\nguy in here uh and basically we want to\nclick on run once for each item and then\nwhat I'm going to do guys just to save\nus some time I'm just going to pin this\ndata so we don't need to keep running\nthe whole thing all the way through all\nright I come down to the code and if I\ndo this it should turn it into text\nwhich is what we like to see and what's\nreally cool here guys I want to grab\nlike the H1 txt from the website I could\nsay hey pull out all the H1 tags in fact\nI won't do it because but if you\nbasically go to chat GPT and say look I\nwant to pull out with the H1 tags I will\ndo that for you it's it's really really\nimpressive how that sort of stuff works\nokay so we've got the website we've got\nthe text the next thing I want to do I\nwant to get a photo of a beautiful\nbeautiful website so how do I do that\nwell guys we need a really cool uh\ntechnology called you may have heard of\nit maybe you haven't it's called\nscreenshot one if I can actually find\nthis place okay I'm going to let the\nwebsite show you the screenshot API for\ndevelopers that sounds like us right so\nall you need to do is come over and sign\nin and if you come down to dashboard\nI've done another video on this by the\nway\num you won't be able to see my access\nkey here cuz my editor wonderfully um\nbasically OB fiscated that but you can\nyou can take a screenshot website you\ncan do scrolling screenshots uh so for\nexample if I render this in the bottom\nright what you're going to see in the\nsecond is a scrolling screenshot of a\nrandom website okay and so it won't just\nbe a snap it'll go up and down but we\nwe're not interested in that as you can\nsee and it'll just kind of nicely scroll\ndown that's how you kind of automate it\nmaking it look like you've been on that\nwebsite and I showed you a video how you\ncould talk over that to make it look\nreally cool so I come to screenshots\nbasically you're going to copy this\ninformation guys now this is a really\ncool thing I want you to head over to\nchat GPT I'd like to paste in the\ninformation I just gave you and said hey\njust put create me a c\nrequest based on the\nbelow and then enter in the uh what you\njust copied and there we go guys the\ncurl command is there we like that and\nthen guys once you've got that and\ncopied that curl that chat gbt gave you\nfrom that text we copied I want you to\ncome here type in HTTP which is\nbasically just like the universal make a\nrequest click on input call and then\nyou're going to enter in everything it\njust gave you and then bam the whole\nthing will just appear I've just my\naccess keyboard you get the idea it's\nfree counts any it probably justes make\na difference but you can see block ads\nblock cookie headers blah blah blah easy\npeasy lemon squeezy and then guys you're\njust going to click on test app up top\nso let's give it a little test and if\nit's done it properly we should see a\nscreenshot of grind and do we I'm\nlooking for that beautiful pink\nbackground come on don't fail me now\nscreenshot let's have a look and we view\nthis one I would stripe it's strip\nbecause let's have a look actually we\ngave it it comes with the default URL so\nwhat we need to do is change that for\nthe URL that we got so let's do that\nreal quick and if I scroll down here\nguys you can see I got URL is stripe.com\nwell we don't want that what we want is\nif I come over to the left let's scam\nfind out where it is we're not looking\nfor the one from Air table cuz that's\ngoing to be all of them we're looking at\nfrom if so basically when it shows you\nthe if module it shows you the\nsuccessful routes from the if module so\nif I didn't click on this website and\nbring it over here and then we should be\nable to run that again and get a\ndifferent result and we'll give that a\nhot second to load up and we should see\nthe beautiful grind appearing on the\nright hand side and do we see that we do\nand that is as easy as it comes guys so\nfreaking cool hope this stuff works\nright cool then we can jump off this and\nthe next thing we want to do is get chat\nGPT to analyze that image and I'm\nlooking for two things the first thing\nI'm looking for is color palette because\nI want you know if it's the expression\nin English like there there is no more\nbeautiful word than your own name and I\nthat's also true of your own business\nlike if I show you your logo like the\nguys that really crushed all the\npresentations that I went to weren't the\nones that put their logo over everything\nyou put the client's logo over\neverything so the presentation opens\nwith their logo because it's the in\ntheir opinion the best logo in the world\nthey absolutely love it that's why we're\ngoing the extra length guys extra detail\nto analyze the color palette I want to\nknow what the color palette is and I\nwant a description of the website so I\nknow exactly what to add in there for\nour beautiful graphic so to do that we\nneed to first of all add a little bit of\ncode guys because we've got the image\nbut we need to convert it into binary\nfor chat gbt so once again in fact let\nme just also rename this code uh let me\njust just so we know what we're talking\nabout here uh that wasn't code that is\njust text of\nwebsites cuz very quickly you can have a\nhundred of these and thinking what the\nhell is this even talking about so we\ncome down here let's add in code run\ncustom code which is Ace and to cut you\ncut the nonsense out guys I'm just going\nto paste this down below just so you can\ncopy I'll put this in description so you\ncan able to play around with it then if\nI click on test step this should work\nfine for us and we should get the output\nthat we require on the right hand side\nand looks like it's doing\nit beautiful I absolutely love it and\nwe've got that perfect thing there so\nthe next thing we want to do then is add\nin chat GPT so let's come over here and\nadd in chat GPT open AI right there and\nwhat do we want to do well we basically\nwant to analyze image beautiful and it\nwill the cool thing is guys it will just\npull that from it automatically but we\ndo need to change this to Binary fields\nand data yeah so it's not really what's\nin this image let's give it a specific\npromp and I've said this like analyze a\nscreenshot of my client's homepage and\nfind two outputs number one is color\npalette provide a concise description of\nthe color palette and no more than 20\nwords starting with the color palette\nshould be focus on identifying just two\nor three colors following the 72010 rule\nand the website description provide a\nconcise description of what the website\nlooks like in 20 words or less I\nactually spent hours um going over the\nprompt view in this video to try and get\nit as consistent as possible so it will\nwork as long as possible for you and one\nof the reasons for that is because one\nof the things I really the basically the\nlonger the prompt is sometimes with like\ndetails that just don't matter can start\nto affect like the consistencies so we\nonly want to keep the stuff that's\nreally really important okay cool I need\nto give it the right credential because\nI've got like a thousand credentials I\nneed to tie this up and honestly if I\nclick on test step we should then get an\nanalysis all right that hasn't work work\nlet's figure out why we haven't chose\nthe model okay let's just do gbt 4\nlatest and test this one one more time\nand see how this guy\nworks cool the color palette should be\nsoft pink black and a red accent for a\nmodern minimal and playful feel one of\nthe things I could get it to do guys is\ngive me hex codes so I'll do that right\nnow I might I may even say provide hex\ncodes right and let's test it again and\nsee what we get this is where it gets\nreally flipping cool really edgy um to\ndo that let's have a look and it's given\nus a soft pink let's test a cool website\nby the way if you ever want to test\nthings like this is cool I always did\nthis naturally when I was doing things\nbut if I type this in there you go does\nthat look right to you yeah that's right\nperfect you can use this to generate\ndifferent col your brand by the way it's\nreally cool you can't lock it down yeah\nit's very very nice okay cool I digress\nI get so into color theory I need to I\nneed to pull myself back a little bit\ncool so we've let's just let's just\nrefresh right we've got the code let's\njust say making binary we don't need to\nname that one we've got the website we\nhave successfully got the text flipping\nawesome we've got a screenshot amazing\nand now what we've also done is analyzed\nit so I'm going to rename this one as\nwell which is\nscreenshot one so exactly what we're\ndealing with beautiful okay so now we've\nanalyzed the image we can start to move\non to the final step of the process and\nthat final step of the process is\nbasically distilling down from the text\nof the website what it's actually about\nand what that needs to be guys is this\nbit here so can you see how it said\nonline coffee comma I like it we need\nthe AI to be able to identify what the\nwebsite it is about and it sounds simple\nbut actually uh we want that to be as\ncorrect as possible because that's what\nmakes it really unique so we're going to\ncome over to our scenario and we're\ngoing to click on open\nAI beautiful okay cool and what we want\nto do we want to uh message a model\nbeautiful and the model we're going to\ndo is okay want to authorize once again\nman they really tested my credentials\ntoday aren't they okay that's\ncool uh we do for GPT we'll do 40\nwhatever the 40 latest\nis um that's fine okay cool and let's\ngive it a message to get started so I've\npasted a prompt in here let me just full\nscreen this voice so you can see\nbasically I'm going to say look you will\nreview the below data and complete this\nsentence one little tip by the way guys\nis when you're creating these Comics you\ndon't really want more than five to\nseven words per strip otherwise the the\nwords and letters can start to string\noff outside the comic or you know it\njust it can just start to get too\ncreative so we want to kind of constrain\nit where we can to respond with this\nsentence and no additional data insert\ntext I like it your text must be know\nmore than three words it must summarize\nthe core of what the Business website\noffers here are some examples C payments\nI like it a automation I like it cheap\nFS I like it it should be simple and not\noverly complicated words where possible\nuh keep it to a reading age of 12 12\nyears old that's because there was like\none that was like card payment\ninfrastructure I love it I mean and who\ndoesn't right if the cor of the website\nwould to read it they should think wow\nthey checked out our site here is the\ndata so what we want to do now is give\nit the dat data from the text of the\nwebsite which is this guy right\nhere beautiful uh can't determine which\nitem to use x can ear for more info we\nwill do that thank you man we come off\nand then let's test this step and see\nwhat we\nget expression info is not valid okay\nlet's have a quick look at this and guys\nif you just run this once once you leave\nit it will work fine for some reason it\ngets a little bit uh a little bit touchy\ncoffee subscriptions I like it so there\nyou go it's slightly different than the\nfirst time and there will be some\nvariability because it's an AI it's next\nword prediction model so you are going\nto get some differences uh but that is\nessentially nail on the head um these\nPRS look simple but that they're born in\nblood they're born in time of coffee I\ntell you literally and also figuratively\ncool so then the next step is to\nactually take that PRP that and get it\ninto an add we can access uh and just\nkind of like blast with that and I'm\ngoing to touch at the end of by a little\nstrategy of what you could do to really\nscale us up right now beautiful so we\ncome down let's select a type Elixir and\nwe're going to look for update a record\nand update that's fine and we're\nbasically going and find the thing that\nwe want which is going to be lead\nmagnet comic book lead magnet oops not\nthat guy yeah a comic book lead magnet\nthat's it uh from the list is going to\nbe table one and we want to map each\ncolumn manually yeah that's fine yeah\nwe'll match it on the ID that's\ncool I think what we can do yeah ID is\nfine and then there you see ID using\nthis string to match so what we would do\nis come down then to if on the left\nand you can see we just bring this over\nso basically what it will do now it that\nis a unique identifier for that\nparticular row so it knows that hey\nthat's where it came from so it will\ncome over ahead and grab uh that par and\nwe'll update the prompt here for us if I\nget rid of that and we run this again it\nwill actually fill in the prompt for us\nwhich is code for flipping really cool\nnow what do we do the only one I'm\nreally interested in for the purpose of\nthis automation is to add something into\nthe prompt section so what I'm going to\ndo is I'm going to basically full screen\nthis for a second I'm going to go to the\ncommunity and grab that prompt um one\nmore time let's go over now to\nclassroom uh where are we at right now\ncool so we come down here to the prompt\nlet's open this bad boy decent let's\njust copy all of it and then we are\ngoing to flip over to our beautiful\nautomation right here cool I'm going to\nenter enter in sweet so let's have a\nlook now we just want to change some of\nthe information where is the information\nwe want to change okay so the first\nthing we're going to really want to\nchange here is the name so instead of\nJack let's go\nwith what's a really cool name we can\nrun with I know let's go for I've got it\nlet's go for Noah all right cool we'll\ngo for Noah beautiful all right sweet\nand then we've got a couple of things\nthat we need to add in that so we want\nto make sure this is listed down uh here\nas an expression and the reason for that\nis cuz we need to bring in different\npieces of information pieces of data so\nthe first part guys is in the panel\nbreakdown and it says here on his laptop\nwhich is visible in a 2d style he sees\nthis on his laptop so what we need to\nlook at guys is the analysis we got from\nchat GPT on the website so let's go and\nfind out where that was there you go\ncontent beautiful that's pretty\nstraightforward right awesome and then\njust underneath that we've got hey he's\nintrigued here's his speech bubble so\nhis speech bubble is just simply this\nguy oops right there and I believe\nthat's the only thing that we need yeah\nI think that's pretty much it and with\nthat guys we are pretty much ready to\nrock and roll and test out this entire\nautomation together so what I'm going to\ndo is come over here are we happy with\ngrind yeah let's do grind a second time\nI going and click down I click on test\nworkflow beautiful that's running\nscreenshot On's riging the background we\ngot some code happening in the\nbackground then we're going to get open\nAI involved and then we will basically\nhave a beautiful prompt here so I'm\ngoing go grab the grind logo and if by\nMagic guys it has flipping appeared once\nagain so we're going to go here I'm\ngoing to copy all this text head over to\nchat GPT I'm going to enter this down\nhere hit enter and then chat will create\na brand new beautiful comic for us one\nof the things we can automate with this\nas well guys is the actual out email\nitself so if I come over and give this a\nsecond to load and just like that guys\ncoffee delivery I like it coffee\ndelivery on the laptop but we need more\ncustomers he's got the grind logo on and\nthen Noah in the bottom right the reason\nwhy this is cool guys is cuz obviously\nyou'll be from Noah so it kind of makes\nsense and what we could also do very\neasily to this if we wanted to is add in\na new module obviously to get right the\nemail so I can click on here I I could\njust simply duplicate this bring this\nguy in unlink these two come down\nconnect these together you know so I\ncould write a prom where I say hey Bas\non website write a 50 c Outreach uh with\na\ncompliment about the\nwebsite and I could\nsay if you ever want to\nscale with AI\nautomations let me know\nget more customers I should say right\nget more customers boom and I'll just\nsay like 50 words\nMax uh\nHTML boom and then what I will do I'll\nsay the\nwebsite uh sign off as\nNoah beautiful okay cool and then why\ndon't we just add in some information\nfrom the websites for come down to text\nof the website beautiful okay sweet and\nthen going to come down and let's just\ntest this St real quick see what this\nlooks like and just like that it's giv\nus an output which we can then enter in\nwhich is about 50 words we can enter\nthat into air table and bring it up what\nI would recommend by the way if you are\ngoing to write an email is to write out\nthe HTML so one things that I always\nlike to do is head over to\nClaude and say hey write\nme a beautiful uh HTML email design uh\n5050 words uh casual Reach Out\nwith the text uh insert uh personal\ncomment\nhere I just say I run an AI automation\nagency I want a compliment\nwebsite with something\npersonal and keep it casual reading age\nI don't know 13 boom all right then what\nwe'll do guys is actually give that HTML\nover to my phone's blown up I start\ntalking about these little secret deals\nthese little secret tips and all a\nsudden I get all these messages so what\nwe would do is give this HTML to chat\nGPT and say hey all I want you to do is\nlike change this bit hey there check\ntech website love what you're doing R\nteam help your myi s time make simpler\ncurious talk about this work together\nboom um I really like that actually okay\nI'll just say remove the\num design uh keep the\nbutton no color text AB in a font\nbeautiful cool then what we do guys is\nbasically where it says insert personal\ncomment just get the AI to add that in\nwhich is really flipping easy give that\na hot second okay that's cool so what I\ncan do then is come over to this I can\nsimply copy the code why don't I then\nhead over to our n8n scenario which is\nhanging out over here and then what I\ncould also do guys is have a Gmail\nmodule\nright where I could draft a message\ncreate a draft and in that draft message\nwhat I can actually do is HTML type in\nthis code here expression actually is\nwhat I want right beautiful uh and then\nhere where I can say\ninsert it should be down here right\ninsert personal comment we basically get\nrid of that oops and then what I can do\nis add in the message from the second AI\nwhich is right there okay\nbam and then I can actually come back\nover to the AI and I can say hey based\non this website find an\naccomplishment or something\nnotable or personal that could complete\nthe below\nsentence and that below sentence is\nsimply where is it now it's this guy oh\nmy gosh so many different tabs write you\nwill only write something\nI could follow that uh keep\nit I don't know like should we say like\nI know 15 words maximum\nyeah beautiful okay sweet no additional\ninformation phenomenal and OB guys you\ncan see just doing this now we're\nstacking out and add new functionalities\nrequirements I'm going to come off this\nI can then run this obviously then we F\nsome details here so what's a subject\nand again now we can do the same thing\nwith the subject line and same thing\nwith the email and we can say that\nuh love what you're\ndoing\nat and then for example you could put\ngrind like do you know what I mean like\nit's like there's so many different\nthings we can do just put love that\nyou're doing love what you're doing\nthere you go sweet sounds casual one of\nthe tips here guys is to kind of make it\nseem like to make it seem like we're not\nputting a lot of effort into this so\ncome down and then obviously let's just\ntest this workflow with my time real\nquick and we can get a bit of a draft\nemail so we come over to the email we've\ngot this kind of base case idea here\nwith some commentary and the point is\nguys you know you would build this out\nin your own tone of voice I've got a\nvideo on my channel talking through how\nyou build this out to make it sound\nauthentic to you but the bottom line\nguys is for this process to get some\nsick Graphics now if you want know how\nto get more customers and other lead\nmagnet stuff I encourage you to watch\nthis video that appear somewhere on\nscreen but any case have a beautiful\nweek and I'll see you in my next video\n"
        }
      }
    ],
    "1) Vocab & Word Choice 💎": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "1. Vocabulary and Word Choice\n\n- Utilize energetic and colloquial vocabulary with consistent informal language. Words such as \"freaking,\" \"bro,\" \"dude,\" and \"nerd\" should be frequently incorporated to emphasize enthusiasm and relatability. For instance, phrases like \"secret freaking formula\" and \"you're freaking LinkedIn badass\" exemplify this tone.\n\n- Repeat enthusiastic and informal expressions to maintain a conversational and engaging style. Key phrases should include \"it's amazing,\" \"I love that,\" and \"thank you so much\" to convey appreciation and excitement, as seen in \"it's amazing to have the podcast, bro.\"\n\n- Use jargon and slang liberally, particularly within the context of AI, business growth, and personal anecdotes. Terms like \"AI space,\" \"going viral,\" \"reverse engineering,\" and \"recurring revenue\" are utilized effectively to convey expertise while maintaining informality.\n\n- Prioritize simple, direct language over complex vocabulary to maintain accessibility, as observed in \"take unreasonable action,\" \"get to know people,\" and \"build an AI business.\"\n\n- Implement distinctive and humorous word choices to infuse personality, such as \"station wagon,\" \"prompt engineering,\" and \"optimize for quality versus quantity.\" The use of humor in word choice enhances engagement, as demonstrated by the joke \"co write that joke down.\"\n\n- Ensure vocabulary suits a reading age level appropriate for a broad audience, using accessible words and concepts. Avoid technical complexities or obscure references without clear explanations, facilitating understanding, such as \"I started learning how to build websites by hand.\"\n\nThese instructions should replicate the text's informal, engaging, and energetic tone, reflecting the original style of Jack's YT transcript.",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ],
    "2) Grammatical Patterns 🔥": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "### Grammatical Patterns Tone of Voice Guidelines\n\n1. **Grammatical Structures**\n   - Use an informal, conversational style with frequent use of contractions and colloquial language. Examples include contractions like \"you're\", \"it's\", and colloquialisms like \"freaking\", and \"awesome\".\n   - Incorporate rhetorical questions and fragments to engage the audience, e.g., \"Know what I mean?\" \"Cool, right?\"\n   - Use commands and direct addresses when guiding, such as \"Click on here\" and \"Head over to\".\n\n2. **Verb Tenses**\n   - Maintain a predominance of present tense to convey immediacy and relevance. E.g., \"I create\", \"I'm going to show you\".\n   - Occasionally shift to past tense to recount personal stories or past events, ensuring clarity on time frames. E.g., \"I realized\", \"I went\".\n\n3. **Singular and Plural Nouns**\n   - Use singular and plural nouns naturally based on context. For singular, use, \"strategy\" or \"journey\", for plural, \"customers\" or \"ideas\".\n   - When referencing a brand or community, keep the context clear and consistent. Use \"Jack's community\" instead of an ambiguous \"his\".\n\n4. **Pronouns**\n   - Address the audience directly using \"you\" for a personalized tone. E.g., \"I'll show you\", \"You know\".\n   - Use first-person pronouns to relate personal experiences, e.g., \"I found that\", \"we're going to\".\n\n5. **Deliberate Deviations**\n   - Embrace deliberate informal grammar choices to reinforce the casual tone. Fragments like \"And then\" or \"So here's what we're gonna do\".\n   - Avoid overly complex sentence structures to maintain ease of understanding. Simplify whenever possible, e.g., breaking down processes into steps.\n  \nBy following these guidelines, maintain an approachable, conversational, and instructional tone, akin to Jack's YT Transcript. Balance casual language with clear and direct instructions for an engaging audience experience.",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ],
    "3) Punctuation 😡": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "**Tone of Voice Guidelines for Jack’s YT Transcript:**\n\n**Punctuation**\n\n1. **Commas**: Use commas liberally to create a conversational flow. For example, \"you got many companies, you're everywhere i look at in the ai space\" shows how commas can facilitate easy readability. Avoid overly complex sentences which could confuse the reader.\n\n2. **Periods**: While much of the text is composed of lengthy sentences, use periods to clearly end statements and help the audience digest information at a manageable pace. For example, \"thank you for joining. we got lots of cool stuff to cover today.\"\n\n3. **Exclamation Points**: Utilize exclamation points to express enthusiasm and excitement. This style is casual and engaging. Example: \"my strategy allowed me to build multiple multi-million dollar businesses!\"\n\n4. **Colloquialisms & Informal Contractions**: Use informal contractions (\"you've\", \"it's\", \"you're\") for a friendly, approachable style. Maintain the casual tone with phrases like \"bro\", \"dude\", and \"man\".\n\n5. **Dashes and Parentheses**: Use dashes to add emphasis or an afterthought to a statement, such as \"i was shocked—because I didn't even have the course…\". Avoid parentheses which might disrupt the flow of conversation in this context.\n\n6. **Idiosyncratic Patterns**: Capture Jack’s signature use of conversational markers and enthusiasm in written form. Repetitions for effect such as \"so so so\" and classic speech fillers like \"um\", \"like\", \"kind of\" should be mirrored to retain authenticity.\n\n**Examples of Good Practice:**\n\n- \"you're freaking linkedin badass—you've got many companies, you're everywhere i look at in the ai space dude!\"\n- \"really get to know people—when i read a book from an author, like, i'll contact the author.\"\n  \n**Examples of Bad Practice:**\n\n- \"you have to take unreasonable action–it's like if you don't you're not doing it right.\" (Avoid using semicolons or non-colloquial punctuation as it doesn't fit the existing tone.)\n",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ],
    "4) Sentence Structure ⛩️": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "Tone of Voice Guidelines:\n\n1. Sentence Structure and Length\n   - Use a conversational and casual tone with informal language.\n   - Utilize a mix of short, punchy sentences and longer, more elaborate ones to keep the reader engaged.\n   - Average sentence length: Aim for around 15-20 words.\n   - Percentage of short sentences (less than 10 words): 40%.\n   - Percentage of long sentences (more than 30 words): 10%.\n   - Example of good sentence structure: \"You need teams who got you, know straight A's, a level they just want to crack it.\"\n   - Example of bad sentence structure: \"Yes, great product is really important and we strive to have the best possible product that we can have.\"\n\n2. Use of Simple, Compound, and Complex Sentences\n   - Prefer active voice for clarity and engagement.\n   - Use simple sentences for emphasis and clarity: \"Amazing, amazing I did this on LinkedIn live.\"\n   - Use compound and complex sentences for explaining more detailed thoughts: \"For me, the way that I tried to manage that, and of course it's never perfect, never perfect, but just letting people know how much you have going on and then politely excusing yourself.\"\n\n3. Varied Sentence Beginnings\n   - Start sentences with different words and clauses to maintain reader interest: \"The average human being,...\", \"Knowing that if you're an activator...\"\n\n4. Use of Sentence Fragments and Run-on Sentences\n   - Avoid run-on sentences to maintain clarity and avoid reader fatigue.\n   - Sentence fragments can be used sparingly for effect or to mimic natural speech: \"Badass epic generated images.\"\n\nFollowing these guidelines faithfully will ensure that the language model emulates the energetic and engaging tone observed in the provided text.",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ],
    "5) Rhetorical Devices 👀": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "### Tone of Voice Guidelines \n\n#### Rhetorical Devices\n\n**Use of Active Voice**  \n- When crafting sentences, primarily use active voice.  \n  - *Good: \"I started building websites and making money.\"*  \n  - *Bad: \"Websites were being built and money was being made by me.\"*\n\n**Metaphors and Similes**  \n- Incorporate metaphors to illustrate complex ideas uniquely.  \n  - *Example: \"That's the name of the game.\"* \n- Use similes sparingly to draw relatable comparisons.  \n  - *Example: \"It's like building a parachute on the way down.\"*\n\n**Repetition for Emphasis**  \n- Emphasize key points by repeating phrases or concepts.  \n  - *Example: \"It's really, really incredible.\"*\n\n**Rhetorical Questions**  \n- Include rhetorical questions to provoke thought and engage the audience.  \n  - *Example: \"Do you know what I mean?\"*\n\n**Hyperbole and Irony**  \n- Use hyperbole to stress importance or express excitement.  \n  - *Example: \"That's a secret freaking formula!\"*  \n- Apply irony to add humor or a reflective tone.  \n  - *Example: \"I already got there, I'm already in a great place.\"*\n\n**Analogies and Anecdotes**  \n- Use anecdotes from personal experiences to drive points home and build authenticity.  \n  - *Example: \"When I read a book from an author, I'll contact the author...\"*\n- Leverage analogies to simplify complex tasks.  \n  - *Example: \"It's like reverse engineering.\"*\n\n#### Distinctive Rhetorical Devices\n\n**Conversational Style**  \n- Maintain a conversational tone to appear approachable and relatable.  \n  - *Example: \"Hey, I'm doing this course if you want...\"*\n\n**Causal Language with Professional Insights**  \n- Mix casual phrases with in-depth professional insights for a balanced tone.  \n  - *Example: \"I think Jim Rohn said the following and he really touched me in my life...\"*\n\n**Use of Direct Addresses**  \n- Frequently address the audience directly for engagement.  \n  - *Example: \"For people excited to be here...\"*\n\n**Emotional Engagement**  \n- Connect emotionally with the audience using heartwarming stories and expressions.  \n  - *Example: \"Making money makes me happy and I can't figure out how to make money being a rabbi...\"*",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ],
    "6) Paragraph Structure ⚡️": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "Paragraph Structure Guidelines:\n\n1. **Paragraph Length and Organization**:\n   - Use predominantly short paragraphs for dynamic pacing and engagement.\n   - Insert medium-length paragraphs when expanding on a complex idea.\n\n2. **Topic Sentences**:\n   - Start paragraphs with clear topic sentences that set the stage for what's to come.\n   - Example: \"In this video we're going to create Unstoppable custom lead magnets...\"\n\n3. **Transitions**:\n   - Use conversational transitions to guide the audience through the content.\n   - Example: \"And by the way, guys, at the end of the video I'm also going to show you...\"\n\n4. **Reasoning Style**:\n   - Employ deductive reasoning by stating key insights up front followed by supporting details.\n   - Example: \"The whole automation starts with simply entering a single URL...\"\n\n5. **Order of Information**:\n   - Use chronological order for instructional content to guide the audience through processes step-by-step.\n   - Example: \"The first thing you want to do guys is head over to air table...\"\n\n6. **Unique Patterns**:\n   - Consistently use conversational language to maintain a personal and engaging tone.\n   - Example: \"Cool, I digress. I get so into color theory...\"\n\nBy following these guidelines, aim to emulate the text's engaging, instructional style, while maintaining clarity and coherence.",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ],
    "7) Tone and Mood 🤩": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "**Tone and Mood:**\n\n1. **Overall Emotional Tone:**\n   - The writing employs an informal and conversational style. The frequent use of casual greetings like \"bro,\" \"dude,\" and \"man\" sets a laid-back and friendly tone.\n   - Example: \"Hey, I want to offer these guys AI Automation Services to blow their brains out...\"\n\n2. **Shifts in Tone:**\n   - The tone transitions smoothly between excitement, humor, and a touch of seriousness when discussing the complexities of building a business. Emphasize excitement when presenting new ideas or technologies, and adopt a more serious tone when discussing challenges or hurdles.\n   - Example: Serious: “...very high barrier of entry if you don't have a technical founder that can be your CTO...” Excited: “...and we got a compact procerio computer with a 336 modem and I became so obsessed...”\n\n3. **Diction, Syntax, and Imagery:**\n   - Use informal diction that resonates with the audience, such as \"freaking awesome,\" \"blow their head off,\" or \"nuts.\"\n   - Syntax should favor shorter and varied sentence structures to maintain engagement. Include vivid imagery to create a visual sense, e.g., “beautiful name right there Jack in on the image we’re ready to rock and roll...”\n   - Example: “...this automation is insane and it will enable you to reach out with something unique to clients...”\n\n4. **Inconsistencies or Contradictions:**\n   - The tone sometimes contradicts the technical nature of the subject, trivializing complex processes with informal speech. Ensure the conversational tone does not undercut the importance of detailed technical instructions.\n   - Example: Avoid phrases like “...sick Graphics...” when the context requires maintaining professional relevance.",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ],
    "8) Coherence and Cohesion 📈": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "**Tone of Voice Guidelines for Jack’s YT Transcript**\n\n1. **Overall Coherence and Cohesion**\n   - **Flow and Connection**: Ensure that the narrative flows naturally, connecting ideas in a logical sequence. For instance, Jack starts with a bold promise \"generate $100,000 in profit\" and seamlessly transitions to sharing personal anecdotes, which support the overall narrative of taking \"unreasonable action.\"\n   - **Transitional Words and Phrases**: Use transitional phrases to guide the reader through the conversation, such as \"one of the cool things about your journey\" or \"the next thing I want to do\" to introduce new ideas or steps.\n   - **Repetition and Parallel Structure**: Repeat key themes like \"unreasonable action,\" \"obsession with AI,\" and \"building relationships\" to reinforce central ideas. Use parallel structure in instructions, like \"go to school, learn, practice\" to create rhythm and clarity.\n   - **Focus and Unity**: Maintain focus throughout the text by continually circling back to core topics, such as AI's impact on business, personal growth, and actionable strategies. Avoid digressions that don't support the main themes.\n\n2. **Examples of Good and Bad Practice**:\n   - **Good Example**: \"One of the things that I realized with AI it's like going to be changing forever... that's my speed, I go at the speed of AI.\" This maintains focus while smoothly transitioning between personal insight and broader implications.\n   - **Bad Example**: Avoid overly lengthy, unrelated anecdotes that break the narrative flow without contributing to the main point.  \n\n3. **Instructions for Emulating Style**\n   - **Active Voice**: Use active voice predominantly, e.g., \"My strategy allowed me to build multiple multi-million dollar businesses.\"\n   - **Casual and Engaging**: Keep the tone conversational and engaging, using informal language like \"bro,\" \"dude,\" and rhetorical questions to maintain an approachable style.\n   - **Personal Anecdotes**: Incorporate personal stories to illustrate points, making them relatable and grounded.\n   - **Direct Address and Inclusivity**: Use direct address and inclusive language to make the audience feel involved, e.g., \"what about you?\" and \"let me know what you think.\"\n\nBy following these guidelines, maintain the essence of Jack’s engaging and informative style that combines personal anecdotes, professional insights, and actionable advice in an approachable and coherent manner.",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ],
    "9) Idiosyncrasies and Quirks 🔥": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "### Tone of Voice Guidelines\n\n#### Idiosyncrasies and Quirks:\n1. **Unconventional Spellings and Phrasings**:\n   - Use casual and conversational language; feel free to incorporate slang or informal expressions, such as “freaking,” “bro,” “dude,” and “badass.” Example: “you're freaking linkedin badass.”\n   - Employ humor and light-heartedness by using unexpected word combinations. Example: “blow their brains out” and “kind of blow their head off.”\n\n2. **Distinctive Stylistic Choices**: \n   - Adopt a narrative style that involves storytelling with anecdotal experiences and personal reflections. Example: The entire segment about being a rabbi and discovering an interest in business.\n   - Embed cultural references and names to add personal touches. Use of terms such as \"rabbi,\" \"Jewish religious school,\" and specifics like \"Gary Vaynerchuk\" or \"Jim Ran.\"\n\n3. **Direct Engagement with the Audience**:\n   - Write in a way that addresses the audience directly, using questions to involve them in the discussion. Example: “how many times did they respond back to you bro when you email them from the book?”\n   - Use casual and inclusive language to nurture a sense of community and camaraderie. Example: “let me know what insights you got even go back.”\n\n4. **Repetitive Emphasis**:\n   - Implement repetition for emphasis, especially with words like \"incredible\" and \"amazing\" to describe experiences and outcomes. Example: “it's just really really incredible.”\n\n5. **Playful Commands and Suggestions**:\n   - Encourage action through playful and exaggerated suggestions. Example: “make sure that this is the most shared most liked most commented video out there.”\n\nEnsure that these stylistic principles enhance the overall effectiveness by establishing a friendly, open, and dynamic interaction with the audience. Avoid formality and technical jargon that could detract from the approachability and energy of the text.",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ],
    "10) Figurative Language 👋": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "**Tone of Voice Guidelines for Jack’s YT Transcript**\n\n**Figurative Language Use:**\n\n1. **Personification:**\n   - When writing, occasionally use personification to give life to non-human entities. Example: \"AI space, dude\" suggests that the AI space is an entity one can converse about or even see in person.\n   - Ensure that the personification adds an element of accessibility or familiarity to complex topics, making the narrative more engaging and relatable.\n\n2. **Metaphors & Similes:**\n   - Use metaphors or similes to explain or emphasize points. For instance, \"that is like the name of the game\" to describe his business strategy, making complex strategies relatable through common phrases.\n   - The simile \"going to figure out how to build a parachute on the way down,\" which details building a business while learning, evokes a sense of urgency and innovation.\n   - When employing these figures of speech, choose familiar comparisons that evoke imagery or excitement relevant to the context.\n\n3. **Hyperbole:**\n   - Occasionally use hyperbole for emphasis, such as \"the best AI automation community in the world\" or \"blow their brains out,\" which is not meant literally but to show extreme admiration or effect.\n   - Use hyperbole sparingly and ensure its intent is clear to avoid confusion or misinterpretation.\n\n4. **Frequency & Effectiveness:**\n   - Use figurative language moderately and strategically to create vivid imagery and connections in the listener's mind.\n   - Good Example: \"I go at the speed of AI,\" portrays the fast-paced, innovative nature of Jack’s work.\n   - Bad Example: Overusing hyperbole without clear context can dilute the message; instead, aim for a balance that underscores key points effectively.\n\nThis tone aims to inspire and motivate, creating a sense of community and excitement about the future of AI and entrepreneurship. Always ensure that the figurative language aligns naturally with the message to maintain clarity and engagement.",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1) Vocab & Word Choice 💎": {
      "main": [
        [
          {
            "node": "2) Grammatical Patterns 🔥",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2) Grammatical Patterns 🔥": {
      "main": [
        [
          {
            "node": "3) Punctuation 😡",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3) Punctuation 😡": {
      "main": [
        [
          {
            "node": "4) Sentence Structure ⛩️",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4) Sentence Structure ⛩️": {
      "main": [
        [
          {
            "node": "5) Rhetorical Devices 👀",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5) Rhetorical Devices 👀": {
      "main": [
        [
          {
            "node": "6) Paragraph Structure ⚡️",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6) Paragraph Structure ⚡️": {
      "main": [
        [
          {
            "node": "7) Tone and Mood 🤩",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7) Tone and Mood 🤩": {
      "main": [
        [
          {
            "node": "8) Coherence and Cohesion 📈",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8) Coherence and Cohesion 📈": {
      "main": [
        [
          {
            "node": "9) Idiosyncrasies and Quirks 🔥",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9) Idiosyncrasies and Quirks 🔥": {
      "main": [
        [
          {
            "node": "10) Figurative Language 👋",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "1) Vocab & Word Choice 💎",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10) Figurative Language 👋": {
      "main": [
        [
          {
            "node": "Google Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "03007f40-8f17-45dd-a6ae-4d1516a1fcb9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1ad5536c7c55ace0cd2d13b5ee509a9d5436e829bf5adf69ed3e58c359b43097"
  },
  "id": "O7Mm6QxobSFSf9sB",
  "tags": []
}