vault_assets/065_113_Build_ANYTHING_with_Nano_Banana_pro__n8n/🍌Nano Banana (BLUEPRINT).json
{
  "name": "🍌Nano Banana (BLUEPRINT)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "🍌 Banana Personaliser",
        "formDescription": "Give me the website + logo",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Brand",
              "placeholder": "https://YourNextClient.com"
            },
            {
              "fieldLabel": "image",
              "fieldType": "file",
              "multipleFiles": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -4528,
        3424
      ],
      "id": "658ebc6a-f3f2-4f6d-b214-70eb02a6b3d6",
      "name": "On form submission1",
      "webhookId": "795a142f-3341-4c9d-8380-e9e7d6020c90"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "API_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4304,
        3424
      ],
      "id": "f14706d5-6551-4a51-a60d-39d6bca8e130",
      "name": "Get URL1"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3856,
        3424
      ],
      "id": "b860111b-b4a1-47e9-8cbc-b47c03ba933e",
      "name": "Wait3",
      "webhookId": "8363f037-4a20-4f6b-9c5c-780dfb313864"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5346dc9-b2c3-405d-aa78-a844b4332cd9",
              "name": "image",
              "value": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3136,
        3392
      ],
      "id": "c7d1e0eb-31a6-43ea-af88-3e1abb0022c3",
      "name": "Result3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5d365e2d-6c1d-48fd-b1e1-dc6ed403e684"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b233b687-f81c-428e-bce7-459684a6a34b",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "generating",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generating"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "69d8ccbf-d327-4705-9159-b7be48f99e73",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "fail",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3408,
        3408
      ],
      "id": "c04c8830-b891-4a65-8eff-98fe464e32b5",
      "name": "Switch3"
    },
    {
      "parameters": {
        "url": "={{ $json.image }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2896,
        3392
      ],
      "id": "24f4baa1-5b97-4472-93c9-9de85182b477",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1exdWgTJMnjuBodQx7Ul2uv7KuqAwsOPX",
          "mode": "list",
          "cachedResultName": "🍌 Banana",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1exdWgTJMnjuBodQx7Ul2uv7KuqAwsOPX"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2688,
        3392
      ],
      "id": "fe73658b-1f99-4cda-9ff2-4fee2ee50ce0",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UUpiFNAs39jvIMt5",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4560,
        3968
      ],
      "id": "fed4ac8b-7920-4b8f-8c07-ca3007f0fd60",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3632,
        3952
      ],
      "id": "1cb4e9ff-222c-4530-90a8-1fc03e7cfb4c",
      "name": "Wait",
      "webhookId": "8363f037-4a20-4f6b-9c5c-780dfb313864"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5346dc9-b2c3-405d-aa78-a844b4332cd9",
              "name": "image",
              "value": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2976,
        3920
      ],
      "id": "148cacb0-e749-4387-822c-f4fd2b223f24",
      "name": "Result"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5d365e2d-6c1d-48fd-b1e1-dc6ed403e684"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b233b687-f81c-428e-bce7-459684a6a34b",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "generating",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generating"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "69d8ccbf-d327-4705-9159-b7be48f99e73",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "fail",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3232,
        3936
      ],
      "id": "3344cdae-c009-4cf9-b36d-9e897fda3201",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "# 🤩 Image to Image",
        "height": 368,
        "width": 2272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4624,
        3296
      ],
      "typeVersion": 1,
      "id": "f87b3965-dd8f-4857-ae3b-039f2088c490",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# 🤩 Text to Image",
        "height": 368,
        "width": 2272,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4624,
        3808
      ],
      "typeVersion": 1,
      "id": "89b64de4-a037-4ae2-99d9-277a3e831cff",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appgq1zRj2V7Ai3ZE",
          "mode": "list",
          "cachedResultName": "🍌 Tuesday Banana",
          "cachedResultUrl": "https://airtable.com/appgq1zRj2V7Ai3ZE"
        },
        "table": {
          "__rl": true,
          "value": "tblrAGK8RoyPkEp2E",
          "mode": "list",
          "cachedResultName": "Imported table",
          "cachedResultUrl": "https://airtable.com/appgq1zRj2V7Ai3ZE/tblrAGK8RoyPkEp2E"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -4352,
        3968
      ],
      "id": "d446eba7-1532-45ff-a44c-7b4e46b47c70",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "U9c2cggYnLoCrorD",
          "name": "Use this token"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.image }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2768,
        3920
      ],
      "id": "d66ea450-5e44-4c15-b244-ad9a7fcfb5c3",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appgq1zRj2V7Ai3ZE",
          "mode": "list",
          "cachedResultName": "🍌 Tuesday Banana",
          "cachedResultUrl": "https://airtable.com/appgq1zRj2V7Ai3ZE"
        },
        "table": {
          "__rl": true,
          "value": "tbl3yfh3Patp5NMdw",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appUPwPudfpbWsx7v/tbl3yfh3Patp5NMdw"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Search records').item.json.id }}",
            "🎇 Image 1": "={{ [{ url: $json.image }] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "🧳 Company",
              "displayName": "🧳 Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "🧑‍💻 Website",
              "displayName": "🧑‍💻 Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "👀 Image",
              "displayName": "👀 Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "👋 Intro",
              "displayName": "👋 Intro",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "📈 LinkedIN",
              "displayName": "📈 LinkedIN",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "About",
              "displayName": "About",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prompt 1",
              "displayName": "Prompt 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "🔥 Prompt 1",
              "displayName": "🔥 Prompt 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "🎇 Image 1",
              "displayName": "🎇 Image 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -2576,
        3920
      ],
      "id": "548e6e04-c917-4bf9-90a6-d6d089b0b8ef",
      "name": "Create or update a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "U9c2cggYnLoCrorD",
          "name": "Use this token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"{{ JSON.stringify($json.prompt).slice(1, -1) }}\",\n    \"aspect_ratio\": \"16:9\",\n    \"resolution\": \"4K\",\n    \"output_format\": \"png\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3920,
        3968
      ],
      "id": "8c624c45-9fff-4ed3-bb49-c90e062df4db",
      "name": "🍌 Nano Banana [CREATE]"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 3dbc6502671ac6be4a09016fba529fa5"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"Hyperrealistic image of an iPhone on a desk with notification alerts flooding the screen. Each notification shows 'New Lead - {{ $('On form submission1').item.json.Brand }} ', 'Booking Request', 'Form Submission'. The notifications are stacking up and glowing. The company logo appears on each notification badge. Professional office background, clean lighting, slight motion blur on the notifications to show they're actively coming in. 4K quality.\",\n    \"aspect_ratio\": \"16:9\",\n    \"resolution\": \"4K\",\n    \"output_format\": \"png\",\n    \"image_input\": [\n      \"{{ $json.data.url }}\"\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4080,
        3424
      ],
      "id": "f11a725b-897a-415d-9ceb-d081b1be5c17",
      "name": "🍌 Nano Banana [EDIT]"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer API_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3632,
        3424
      ],
      "id": "0f9fd078-e790-4a14-8958-639b1409fb00",
      "name": "🍌 Nano Banana [DOWNLOAD]"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 3dbc6502671ac6be4a09016fba529fa5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3440,
        3952
      ],
      "id": "a42ccc1f-440b-4870-a550-cbdd8d20f759",
      "name": "🍌 Nano Banana [DOWNLOAD]1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da65ddff-3d03-4e66-8b38-3074bc7f7093",
              "name": "prompt",
              "value": "={{ $json['🎇 Image Prompt'].value }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4144,
        3968
      ],
      "id": "84600c1a-7b22-4a82-a460-64d1398a23da",
      "name": "👩‍💻 Your Prompt"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission1": {
      "main": [
        [
          {
            "node": "Get URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get URL1": {
      "main": [
        [
          {
            "node": "🍌 Nano Banana [EDIT]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "🍌 Nano Banana [DOWNLOAD]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Result3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Result3": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "🍌 Nano Banana [DOWNLOAD]1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "👩‍💻 Your Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Result": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Create or update a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🍌 Nano Banana [CREATE]": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🍌 Nano Banana [EDIT]": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🍌 Nano Banana [DOWNLOAD]": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🍌 Nano Banana [DOWNLOAD]1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👩‍💻 Your Prompt": {
      "main": [
        [
          {
            "node": "🍌 Nano Banana [CREATE]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "07cd4086-eeca-43b4-a1cd-93b20ce906de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1ad5536c7c55ace0cd2d13b5ee509a9d5436e829bf5adf69ed3e58c359b43097"
  },
  "id": "Fe0WjmIwXRhOCMPC",
  "tags": []
}