vault_assets/009_74_Create_VIRAL_Thumbnails_of_you_in_ONE_Click/🔥 YouTube Viral System.json
{
    "name": "🔥 YouTube Viral System",
    "flow": [
        {
            "id": 1,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://www.googleapis.com/youtube/v3/videos?part=snippet&id=PdP7jrLh50U&key=AIzaSyDLmdGgdj5ECLvON66OOXWTNUW-0Ai1KjE",
                "gzip": true,
                "method": "get",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": -12,
                    "y": 0,
                    "name": "📹 YouTube API"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "openai-gpt-3:analyzeImages",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1425946
            },
            "mapper": {
                "model": "gpt-4o-mini",
                "top_p": "1",
                "images": [
                    {
                        "imageUrl": "{{1.data.items[].snippet.thumbnails.maxres.url}}",
                        "imageUploadType": "url"
                    }
                ],
                "prompt": "You are tasked with analyzing a YouTube thumbnail image and providing a detailed, structured description of its visual and design elements. Your goal is to capture every important aspect of the thumbnail so that it can be recreated or understood fully based on your description. Follow this structure carefully:Overall Vibe/Emotion : Describe the overall mood or emotion conveyed by the thumbnail. Is it exciting, mysterious, humorous, dramatic, or something else? What feeling does it evoke?Central Subject/Focal Point : Identify the main subject or focal point of the thumbnail. This could be a person, object, or action. Describe their appearance, pose, expression, and any standout features (e.g., exaggerated facial expressions, dynamic poses).Color Palette : List the dominant colors used in the thumbnail. Mention how they contrast with each other and whether they create a vibrant, muted, warm, cool, or high-contrast look.Text Elements : If there is text, describe it in detail:What does the text say?What font style is used (e.g., bold, italicized, serif, sans-serif)?Where is the text placed within the frame?How does the color of the text contrast with the background?Background/Setting : Describe the background or environment. Is it blurred, solid-colored, patterned, or detailed? Does it include specific props, symbols, or scenery that contribute to the story or theme?Composition/Layout : Explain how the elements are arranged within the frame. Are they centered, off-center, layered, or overlapping? Is there use of negative space? How do the elements interact with one another visually?Lighting and Effects : Note any lighting effects, shadows, glows, or filters applied to enhance the thumbnail. Does it have a polished, cinematic, gritty, or cartoonish aesthetic?Curiosity Gap/Storytelling : Analyze how the thumbnail creates intrigue or curiosity. What questions might it raise for viewers? Does it hint at a story, challenge, or outcome without giving everything away?",
                "max_tokens": "2048",
                "temperature": "1",
                "n_completions": "1"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "📊 Analyse Thumbnail"
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o-mini"
                        },
                        "images": {
                            "mode": "chose",
                            "items": [
                                {
                                    "imageUploadType": {
                                        "mode": "chose",
                                        "label": "Image URL"
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt",
                        "required": true
                    },
                    {
                        "name": "images",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "imageUploadType",
                                    "type": "select",
                                    "label": "How would you like to specify an image?",
                                    "options": [
                                        {
                                            "label": "Image URL",
                                            "value": "url",
                                            "nested": [
                                                {
                                                    "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`.",
                                                    "mode": "edit",
                                                    "name": "imageUrl",
                                                    "type": "url",
                                                    "label": "Image URL",
                                                    "mappable": {
                                                        "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`."
                                                    },
                                                    "required": true
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Image File",
                                            "value": "imageFile",
                                            "nested": [
                                                {
                                                    "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the __HTTP: Get a file__ module.",
                                                    "name": "imageFileData",
                                                    "type": "buffer",
                                                    "label": "Image File",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Image"
                        },
                        "type": "array",
                        "label": "Images",
                        "required": true
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1425946
            },
            "mapper": {
                "model": "o3-mini",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "user",
                        "content": "The youtube title: {{1.data.items[].snippet.title}}\n\nThe thumbail description: {{12.result}}"
                    },
                    {
                        "role": "assistant",
                        "content": "YouTube Content Generation Task\n\nGenerate ONE video concept for Jack Roberts' channel by adapting the provided video concept to fit the channel's focus on AI automation, business, and entrepreneurship.\n\nInput Requirement\nUser will provide a video title and optionally a thumbnail description (e.g., \"I Spent 100 Hours Inside The Pyramids!\" with \"MrBeast next to pyramids\").\n\nIn essence, you must identify what the reason people would click on the video and imagine similar or better titles. What is the curiosity gap, and make a better one.\n\nUse the provided concept as inspiration and adapt it to the channel's niche, creating a related, sensible idea that aligns with AI automation, no-code tools, business growth, or entrepreneurship.\n\nChannel Overview\nChannel Description: My channel focuses on AI Automations, showcasing tools and strategies that help people save time and money using no-code platforms like Make.com and n8n. I also share entrepreneurial content about making money, growing businesses, and staying ahead of AI trends. I run a paid Skool community for AI enthusiasts and create content for both specialists and beginners.\n\nTarget Audience: Entrepreneurs, business owners, tech-interested individuals, and those passionate about AI or no-code tools.\n\nNiche/Category: AI Automations, AI, making money, and business growth.\n\nUnique Value Proposition: Step-by-step guides featuring the latest AI tools and strategies that actually work.\n\nAdaptation Guidelines\nTake the core idea of the provided video (e.g., \"spending 100 hours\" or \"earnings from 1.3 billion views\") and rethink it within the channel's niche.\nAvoid literal or nonsensical translations (e.g., no \"AI Pyramid\" unless it's a clear metaphor tied to automation).\n\nExamples of good adaptations:\n\"I Spent 100 Hours Inside The Pyramids!\" → \"I Spent 100 Hours on 1 Automation (HUGE)\"\n\"How Much YouTube Paid Me for 1.3 Billion Views\" → \"How Much I Earned Automating 1 Business\"\n\"n8n vs Make: Don't Choose Wrong\" → \"I Tested n8n vs Make for 100 Hours\"\n\nEnsure the concept is practical, credible, and tied to AI, no-code tools, or business growth.\nCreate a curiosity gap that hooks viewers (e.g., surprising outcomes, big numbers, or unsolved dilemmas).\n\nRequired Output Format\nMust be provided as a single JSON object, exactly like this:\n{\n  \"videoIdea\": \"Brief concept (max 20 words)\",\n  \"title1\": \"First title option (max 50 chars)\",\n  \"title2\": \"Second title option (max 50 chars)\",\n  \"title3\": \"Third title option (max 50 chars)\",\n  \"title4\": \"Fourth title option (max 50 chars)\",\n  \"thumbnail\": {\n    \"mainFocalElement\": \"Describe the primary visual element\",\n    \"secondaryElements\": \"List max 2 supporting elements\",\n    \"composition\": \"Describe layout and arrangement\",\n    \"colorScheme\": \"Specify brand-aligned colors\",\n    \"textOverlay\": \"Any text elements to include\",\n    \"emotionalHook\": \"What emotion/reaction it should evoke\"\n  }\n}\n\nOmit textOverlay if no text is needed.\n\nThumbnail Detail Requirements\nYour thumbnail description must include:\n- Exact composition layout (e.g., \"Split screen with laptop on left, results graph on right\")\n- Specific color choices (e.g., \"Deep blue gradient background (#2C3E50) with white text\")\n- Text placement and hierarchy (e.g., \"Large number '10X' in top right corner\")\n- Emotional elements (e.g., \"Surprised expression with raised eyebrows\")\n- Visual metaphors (e.g., \"Robot hand touching human hand, Sistine Chapel style\")\n- Technical elements (e.g., \"Code snippets floating in background, blurred\")\n\nTitle Guidelines\n- Use proper title case (capitalize major words)\n- Keep under 50 characters\n- Include specific numbers when possible (e.g., \"7 Ways\" instead of \"Ways\")\n- Create curiosity without misleading\n- Use power words: Transform, Unlock, Master, Discover, Reveal\n- Add urgency when relevant (2024, Now, Today)\n- Include AI/automation terminology accurately\n- Avoid excessive punctuation (!!!!)\n- Consider search intent and trends\n- Test readability at thumbnail size\n- Use parentheses for clarification, not clickbait\n- Balance curiosity with credibility\n\nThumbnail Guidelines\n- One dominant focal point\n- Maximum 3 visual elements\n- Tech/AI-focused aesthetic\n- Clear visual hierarchy\n- High contrast for text visibility\n- Use consistent brand colors\n- Include face/reaction when relevant\n- Avoid cluttered backgrounds\n- Ensure text is readable at small sizes\n- Use visual metaphors for complex concepts\n- Consider mobile viewing experience\n- Balance white space effectively\n\nExample Viral Titles\nThe Universe is Hostile to Computers\nClickbait is Unreasonably Effective\nThe Genius of 3D Printed Rockets\nThe Simplest Math Problem No One Can Solve\nWhy You Should Want Driverless Cars Now\nThe Biggest Myth In Education\nA Physics Prof Bet Me $10,000 I'm Wrong\nThe Longest-Running Evolution Experiment\nRisking My Life To Settle A Physics Debate\nHow An Infinite Hotel Ran Out Of Room\nThe SAT Question Everyone Got Wrong\nThe Surprising Genius of Sewing Machines\nThe Secret To A Happy Life\nLessons From The Longest Study on Happiness\nHow Do Night Vision Goggles Work? (There's 3 types)\nThe Problem With Science Communication\nHow One Line in the Oldest Math Text Hinted at Hidden Universes\nThe Man Who Killed Millions and Saved Billions\nPushing The Limits Of Extreme Breath-Holding\nHow Humanity Almost Destroyed Itself\nThe Insane Math Of Knot Theory\nShould Airships Make A Comeback?\nI Took an IQ Test to Find Out What it Actually Measures\nThe Real Story of Oppenheimer\nThe Hidden Science of Fireworks\n\n\n\nOutput Rules\n- Output MUST be in JSON format only\n- Provide exactly ONE JSON object containing all elements\n- Include all required fields (videoIdea, title1-4, thumbnail)\n- No additional commentary or text\n- Maintain consistent JSON formatting\n- Ensure all JSON is valid and properly escaped\n- Use the exact field names as shown in the example\n\nNote\nAdapt the provided video concept creatively to fit the channel's focus on AI automation and business.\nEnsure all content maintains professional credibility while driving engagement through curiosity and relevance."
                    }
                ],
                "max_tokens": "0",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "json_object",
                "parseJSONResponse": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "🤩 Titles"
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "o3-mini (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Assistant"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "JSON Object"
                        },
                        "reasoning_effort": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "parseJSONResponse": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "reasoning_effort",
                        "type": "select",
                        "label": "Reasoning Effort",
                        "validate": {
                            "enum": [
                                "low",
                                "medium",
                                "high"
                            ]
                        }
                    },
                    {
                        "name": "parseJSONResponse",
                        "type": "boolean",
                        "label": "Parse JSON Response",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": {
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "index",
                                    "type": "number",
                                    "label": "Index"
                                },
                                {
                                    "name": "logprobs",
                                    "type": "text",
                                    "label": "Log Probs"
                                },
                                {
                                    "name": "finish_reason",
                                    "type": "text",
                                    "label": "Finish Reason"
                                },
                                {
                                    "name": "message",
                                    "spec": [
                                        {
                                            "name": "role",
                                            "type": "text",
                                            "label": "Role"
                                        },
                                        {
                                            "name": "content",
                                            "type": "text",
                                            "label": "Content"
                                        },
                                        {
                                            "name": "refusal",
                                            "type": "text",
                                            "label": "Refusal"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Message"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 19,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1425946
            },
            "mapper": {
                "select": "chat",
                "temperature": "1",
                "top_p": "1",
                "n_completions": "1",
                "model": "o3-mini",
                "max_tokens": "0",
                "messages": [
                    {
                        "role": "user",
                        "content": "Create a thumbnail based on this suggestion: {{12.result}}\n\n\nSuggestions on how we could do this: {{16.result.thumbnail.mainFocalElement}}\n{{16.result.thumbnail.secondaryElements}}\n{{16.result.thumbnail.composition}}\n{{16.result.thumbnail.colorScheme}}\n{{16.result.thumbnail.textOverlay}}{{16.result.thumbnail.emotionalHook}}"
                    },
                    {
                        "role": "assistant",
                        "content": "You are a specialized AI assistant focused on generating detailed image prompts for thumbnail creation. Your task is to take thumbnail descriptions and convert them into structured prompts that will be used to generate images. These images will feature Jack (when human subjects are involved) or follow the given description (for non-human subjects).\n\nCONTEXT:\n- Your output will be used in make.com to generate thumbnail images\n- The prompts must maintain strict JSON formatting\n- Jack should be incorporated naturally into human-centered scenes\n- All prompts should follow specific best practices for clarity and consistency\n\nBEST PRACTICES FOR PROMPT CONSTRUCTION:\n\n1. OVERALL VIBE AND EMOTION\n- Always specify the mood or emotional tone of the image\n- Use clear emotional descriptors (energetic, mysterious, dramatic, etc.)\n- Ensure the emotion aligns with the thumbnail's purpose\n\n2. CENTRAL SUBJECT AND FOCAL POINT\n- For human subjects: Always use \"a photo of Jack\" as the primary subject\n- Describe poses, expressions, and actions in detail\n- For non-human subjects: Be specific about the main focus\n- Include details about size, position, and prominence\n\n3. COLOR PALETTE\n- Specify 2-3 primary colors that should dominate\n- Describe how colors interact (contrasting, complementary, etc.)\n- Mention color temperature (warm, cool, neutral)\n- Include lighting effects and their impact on colors\n\n4. TEXT ELEMENTS (When Applicable)\n- Define font characteristics (bold, modern, sleek, etc.)\n- Specify text color and any effects (glow, shadow, etc.)\n- Indicate text placement within the composition\n- Describe how text interacts with other elements\n\n5. BACKGROUND AND SETTING\n- Provide clear context for the environment\n- Specify if background should be detailed or minimal\n- Include relevant props or environmental elements\n- Describe depth and focus effects\n\n6. COMPOSITION AND LAYOUT\n- Define element positioning (centered, rule of thirds, etc.)\n- Specify depth and perspective\n- Include any overlay effects or additional elements\n- Describe visual hierarchy\n\nRULES FOR OUTPUT:\n\n1. Format Requirements:\n- Output must be valid JSON\n- Must include the exact version string provided\n- Must maintain all technical parameters (aspect ratio, quality, etc.)\n\n2. Prompt Structure:\n- Start with the main subject/action\n- Follow with setting and mood\n- Include technical details\n- End with composition specifics\n\n3. Technical Parameters (DO NOT MODIFY):\n- version: \"a738942df15c8c788b076ddd052256ba7923aade687b12109ccc64b2c3483aa1\"\n- hf_loras: [\"INSERT LORA\"]\n- num_outputs: 4\n- aspect_ratio: \"16:9\"\n- output_format: \"png\"\n- guidance_scale: 3.5\n- output_quality: 100\n- num_inference_steps: 28\n\nPROMPT TEMPLATES:\n\nFor Human-Centered Thumbnails:\n{\n  \"version\": \"a738942df15c8c788b076ddd052256ba7923aade687b12109ccc64b2c3483aa1\",\n  \"input\": {\n    \"prompt\": \"A photo of Jack [POSE/ACTION] in a [SETTING]. He displays [EXPRESSION/EMOTION] while [ACTIVITY/CONTEXT]. The lighting is [LIGHTING STYLE] with [COLOR SCHEME] creating a [MOOD] atmosphere. The background features [BACKGROUND DETAILS] with [COMPOSITIONAL ELEMENTS]. Any text appears in [FONT STYLE] [FONT COLOR] positioned [TEXT PLACEMENT]. Additional elements include [PROPS/SYMBOLS/EFFECTS] that reinforce the [THEME/MESSAGE]. The overall composition is [COMPOSITION STYLE] with [TECHNICAL ASPECTS] to ensure clarity and impact.\",\n    \"hf_loras\": [\"INSERT LORA\"],\n    \"num_outputs\": 4,\n    \"aspect_ratio\": \"16:9\",\n    \"output_format\": \"png\",\n    \"guidance_scale\": 3.5,\n    \"output_quality\": 100,\n    \"num_inference_steps\": 28\n  }\n}\n\nFor Non-Human Thumbnails:\n{\n  \"version\": \"a738942df15c8c788b076ddd052256ba7923aade687b12109ccc64b2c3483aa1\",\n  \"input\": {\n    \"prompt\": \"A [SUBJECT TYPE] that features [MAIN ELEMENTS] in a [SETTING]. The scene conveys [MOOD/EMOTION] through [VISUAL ELEMENTS]. The lighting is [LIGHTING STYLE] with [COLOR SCHEME] creating a [ATMOSPHERE] effect. The background showcases [BACKGROUND DETAILS] with [COMPOSITIONAL ELEMENTS]. Any text appears in [FONT STYLE] [FONT COLOR] positioned [TEXT PLACEMENT]. Supporting elements include [PROPS/SYMBOLS/EFFECTS] that enhance the [THEME/MESSAGE]. The overall composition is [COMPOSITION STYLE] with [TECHNICAL ASPECTS] to ensure visual impact.\",\n    \"hf_loras\": [\"INSERT LORA\"],\n    \"num_outputs\": 4,\n    \"aspect_ratio\": \"16:9\",\n    \"output_format\": \"png\",\n    \"guidance_scale\": 3.5,\n    \"output_quality\": 100,\n    \"num_inference_steps\": 28\n  }\n}\n\nEXAMPLE OUTPUTS:\n\nHuman-Centered Example:\n{\n  \"version\": \"a738942df15c8c788b076ddd052256ba7923aade687b12109ccc64b2c3483aa1\",\n  \"input\": {\n    \"prompt\": \"A photo of Jack standing confidently in a modern tech office environment. He displays an engaging smile while gesturing towards floating holographic displays. The lighting is bright and dramatic with cool blue and warm orange accents creating a high-energy atmosphere. The background features sleek workstations and glass walls with subtle blur effects. Any text appears in bold sans-serif electric blue font positioned in the upper right quadrant. Additional elements include glowing tech icons, particle effects, and wireframe overlays that reinforce the innovation theme. The overall composition is asymmetrical with high contrast and sharp focus on Jack's face to ensure professional quality.\",\n    \"hf_loras\": [\"INSERT LORA\"],\n    \"num_outputs\": 4,\n    \"aspect_ratio\": \"16:9\",\n    \"output_format\": \"png\",\n    \"guidance_scale\": 3.5,\n    \"output_quality\": 100,\n    \"num_inference_steps\": 28\n  }\n}\n\nNon-Human Example:\n{\n  \"version\": \"a738942df15c8c788b076ddd052256ba7923aade687b12109ccc64b2c3483aa1\",\n  \"input\": {\n    \"prompt\": \"A conceptual scene that features floating geometric shapes in a minimalist workspace. The scene conveys innovation and progress through dynamic movement and technological elements. The lighting is soft and diffused with electric blue and deep purple tones creating a futuristic atmosphere. The background showcases a gradient mesh pattern with depth layers and perspective lines. Any text appears in sleek minimalist font white color positioned centrally with subtle glow. Supporting elements include particle systems, circuit patterns, and energy flows that enhance the technological advancement theme. The overall composition is centered with shallow depth of field and high resolution rendering to ensure visual impact.\",\n    \"hf_loras\": [\"INSERT LORA\"],\n    \"num_outputs\": 4,\n    \"aspect_ratio\": \"16:9\",\n    \"output_format\": \"png\",\n    \"guidance_scale\": 3.5,\n    \"output_quality\": 100,\n    \"num_inference_steps\": 28\n  }\n}\n\nRemember: Your only output should be the formatted JSON. Do not include explanations, conversations, or additional text outside the JSON structure."
                    }
                ],
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 907,
                    "y": -3,
                    "name": "🔥 Image Prompt"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My OpenAI connection",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "stop": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "o3-mini (system)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Assistant"
                                    }
                                }
                            ]
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "reasoning_effort": {
                            "mode": "chose",
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "type": "array",
                        "label": "Token Probability",
                        "spec": {
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability",
                            "name": "value"
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        },
                        "spec": {
                            "type": "text",
                            "label": "Stop Sequence",
                            "name": "value"
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "type": "array",
                        "label": "Other Input Parameters",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter",
                            "name": "value"
                        }
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": {
                            "label": "Message",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "required": true,
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            ],
                            "name": "value"
                        }
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "reasoning_effort",
                        "type": "select",
                        "label": "Reasoning Effort",
                        "validate": {
                            "enum": [
                                "low",
                                "medium",
                                "high"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": {
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "index",
                                    "type": "number",
                                    "label": "Index"
                                },
                                {
                                    "name": "logprobs",
                                    "type": "text",
                                    "label": "Log Probs"
                                },
                                {
                                    "name": "finish_reason",
                                    "type": "text",
                                    "label": "Finish Reason"
                                },
                                {
                                    "name": "message",
                                    "spec": [
                                        {
                                            "name": "role",
                                            "type": "text",
                                            "label": "Role"
                                        },
                                        {
                                            "name": "content",
                                            "type": "text",
                                            "label": "Content"
                                        },
                                        {
                                            "name": "refusal",
                                            "type": "text",
                                            "label": "Refusal"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Message"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://api.replicate.com/v1/predictions",
                "data": "{{19.result}}",
                "gzip": true,
                "method": "post",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer REDACTED_TOKEN"
                    }
                ],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "application/json",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "name": "🔮 Thumbnails"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bodyType": {
                            "label": "Raw"
                        },
                        "contentType": {
                            "label": "JSON (application/json)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 20,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "70"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "😴 Wait"
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "required": true,
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    }
                ]
            }
        },
        {
            "id": 21,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "{{13.data.urls.get}}",
                "data": "",
                "gzip": true,
                "method": "get",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer REDACTED_TOKEN"
                    },
                    {
                        "name": "Content-Type",
                        "value": " application/json"
                    }
                ],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "application/json",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0,
                    "name": "🎉 Download"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "bodyType": {
                            "label": "Raw"
                        },
                        "contentType": {
                            "label": "JSON (application/json)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 22,
            "module": "google-docs:appendADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1416296
            },
            "mapper": {
                "text": "Title: {{1.data.items[].snippet.title}}",
                "choose": "dropdown",
                "select": "document",
                "document": "/1hdYDf6cT3U4Nsrz0p0VSs7dToC6Ty_QCEsef1irOq6c",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "choose": {
                            "label": "By Dropdown"
                        },
                        "select": {
                            "label": "By appending to the body of document"
                        },
                        "document": {
                            "path": [
                                "🔥YouTube Title + Thumbnails"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Google Connection (jack@aiautomationswithjack.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "choose",
                        "type": "select",
                        "label": "Select a Document",
                        "required": true,
                        "validate": {
                            "enum": [
                                "mapping",
                                "dropdown"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "document",
                        "type": "file",
                        "label": "Document ID",
                        "required": true
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Insert a Paragraph",
                        "required": true,
                        "validate": {
                            "enum": [
                                "location",
                                "document",
                                "segment"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Appended Text",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 23,
            "module": "google-docs:addAnImageToADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1416296
            },
            "mapper": {
                "uri": "{{1.data.items[].snippet.thumbnails.maxres.url}}",
                "choose": "dropdown",
                "select": "document",
                "document": "/1hdYDf6cT3U4Nsrz0p0VSs7dToC6Ty_QCEsef1irOq6c",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 2249,
                    "y": -191
                },
                "restore": {
                    "expect": {
                        "choose": {
                            "label": "By Dropdown"
                        },
                        "select": {
                            "label": "By appending to the document"
                        },
                        "document": {
                            "mode": "chose",
                            "path": [
                                "🔥YouTube Title + Thumbnails"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Google Connection (jack@aiautomationswithjack.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "choose",
                        "type": "select",
                        "label": "Select a Document",
                        "required": true,
                        "validate": {
                            "enum": [
                                "mapping",
                                "dropdown"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "document",
                        "type": "file",
                        "label": "Document ID",
                        "required": true
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Insert an Image",
                        "required": true,
                        "validate": {
                            "enum": [
                                "location",
                                "document",
                                "segment"
                            ]
                        }
                    },
                    {
                        "name": "uri",
                        "type": "url",
                        "label": "Image URL",
                        "required": true
                    },
                    {
                        "name": "height_magnitude",
                        "type": "number",
                        "label": "Height Magnitude in Points"
                    },
                    {
                        "name": "width_magnitude",
                        "type": "number",
                        "label": "Width Magnitude in Points"
                    }
                ]
            }
        },
        {
            "id": 24,
            "module": "google-docs:appendADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1416296
            },
            "mapper": {
                "text": "💡 Video Idea:\n{{16.result.videoIdea}}\n\n🔥 Title 1: {{16.result.title1}}\n📈 Title 2: {{16.result.title2}}\n🔮 Title 3: {{16.result.title3}}\n👾 Title 4: {{16.result.title4}}\n",
                "choose": "dropdown",
                "select": "document",
                "document": "/1hdYDf6cT3U4Nsrz0p0VSs7dToC6Ty_QCEsef1irOq6c",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 2408,
                    "y": 8
                },
                "restore": {
                    "expect": {
                        "choose": {
                            "label": "By Dropdown"
                        },
                        "select": {
                            "label": "By appending to the body of document"
                        },
                        "document": {
                            "path": [
                                "🔥YouTube Title + Thumbnails"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Google Connection (jack@aiautomationswithjack.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "choose",
                        "type": "select",
                        "label": "Select a Document",
                        "required": true,
                        "validate": {
                            "enum": [
                                "mapping",
                                "dropdown"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "document",
                        "type": "file",
                        "label": "Document ID",
                        "required": true
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Insert a Paragraph",
                        "required": true,
                        "validate": {
                            "enum": [
                                "location",
                                "document",
                                "segment"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Appended Text",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 25,
            "module": "google-docs:addAnImageToADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1416296
            },
            "mapper": {
                "uri": "{{21.data.output[1]}}",
                "choose": "dropdown",
                "select": "document",
                "document": "/1hdYDf6cT3U4Nsrz0p0VSs7dToC6Ty_QCEsef1irOq6c",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 2585,
                    "y": 178
                },
                "restore": {
                    "expect": {
                        "choose": {
                            "label": "By Dropdown"
                        },
                        "select": {
                            "label": "By appending to the document"
                        },
                        "document": {
                            "mode": "chose",
                            "path": [
                                "🔥YouTube Title + Thumbnails"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Google Connection (jack@aiautomationswithjack.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "choose",
                        "type": "select",
                        "label": "Select a Document",
                        "required": true,
                        "validate": {
                            "enum": [
                                "mapping",
                                "dropdown"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "document",
                        "type": "file",
                        "label": "Document ID",
                        "required": true
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Insert an Image",
                        "required": true,
                        "validate": {
                            "enum": [
                                "location",
                                "document",
                                "segment"
                            ]
                        }
                    },
                    {
                        "name": "uri",
                        "type": "url",
                        "label": "Image URL",
                        "required": true
                    },
                    {
                        "name": "height_magnitude",
                        "type": "number",
                        "label": "Height Magnitude in Points"
                    },
                    {
                        "name": "width_magnitude",
                        "type": "number",
                        "label": "Width Magnitude in Points"
                    }
                ]
            }
        },
        {
            "id": 26,
            "module": "google-docs:addAnImageToADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1416296
            },
            "mapper": {
                "uri": "{{21.data.output[2]}}",
                "choose": "dropdown",
                "select": "document",
                "document": "/1hdYDf6cT3U4Nsrz0p0VSs7dToC6Ty_QCEsef1irOq6c",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 2763,
                    "y": 10
                },
                "restore": {
                    "expect": {
                        "choose": {
                            "label": "By Dropdown"
                        },
                        "select": {
                            "label": "By appending to the document"
                        },
                        "document": {
                            "mode": "chose",
                            "path": [
                                "🔥YouTube Title + Thumbnails"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Google Connection (jack@aiautomationswithjack.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "choose",
                        "type": "select",
                        "label": "Select a Document",
                        "required": true,
                        "validate": {
                            "enum": [
                                "mapping",
                                "dropdown"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "document",
                        "type": "file",
                        "label": "Document ID",
                        "required": true
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Insert an Image",
                        "required": true,
                        "validate": {
                            "enum": [
                                "location",
                                "document",
                                "segment"
                            ]
                        }
                    },
                    {
                        "name": "uri",
                        "type": "url",
                        "label": "Image URL",
                        "required": true
                    },
                    {
                        "name": "height_magnitude",
                        "type": "number",
                        "label": "Height Magnitude in Points"
                    },
                    {
                        "name": "width_magnitude",
                        "type": "number",
                        "label": "Width Magnitude in Points"
                    }
                ]
            }
        },
        {
            "id": 27,
            "module": "google-docs:addAnImageToADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1416296
            },
            "mapper": {
                "uri": "{{21.data.output[3]}}",
                "choose": "dropdown",
                "select": "document",
                "document": "/1hdYDf6cT3U4Nsrz0p0VSs7dToC6Ty_QCEsef1irOq6c",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 2925,
                    "y": -189
                },
                "restore": {
                    "expect": {
                        "choose": {
                            "label": "By Dropdown"
                        },
                        "select": {
                            "label": "By appending to the document"
                        },
                        "document": {
                            "mode": "chose",
                            "path": [
                                "🔥YouTube Title + Thumbnails"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Google Connection (jack@aiautomationswithjack.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "choose",
                        "type": "select",
                        "label": "Select a Document",
                        "required": true,
                        "validate": {
                            "enum": [
                                "mapping",
                                "dropdown"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "document",
                        "type": "file",
                        "label": "Document ID",
                        "required": true
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Insert an Image",
                        "required": true,
                        "validate": {
                            "enum": [
                                "location",
                                "document",
                                "segment"
                            ]
                        }
                    },
                    {
                        "name": "uri",
                        "type": "url",
                        "label": "Image URL",
                        "required": true
                    },
                    {
                        "name": "height_magnitude",
                        "type": "number",
                        "label": "Height Magnitude in Points"
                    },
                    {
                        "name": "width_magnitude",
                        "type": "number",
                        "label": "Width Magnitude in Points"
                    }
                ]
            }
        },
        {
            "id": 28,
            "module": "google-docs:addAnImageToADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1416296
            },
            "mapper": {
                "uri": "{{21.data.output[4]}}",
                "choose": "dropdown",
                "select": "document",
                "document": "/1hdYDf6cT3U4Nsrz0p0VSs7dToC6Ty_QCEsef1irOq6c",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 3100,
                    "y": 12
                },
                "restore": {
                    "expect": {
                        "choose": {
                            "label": "By Dropdown"
                        },
                        "select": {
                            "label": "By appending to the document"
                        },
                        "document": {
                            "mode": "chose",
                            "path": [
                                "🔥YouTube Title + Thumbnails"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Google Connection (jack@aiautomationswithjack.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "choose",
                        "type": "select",
                        "label": "Select a Document",
                        "required": true,
                        "validate": {
                            "enum": [
                                "mapping",
                                "dropdown"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "document",
                        "type": "file",
                        "label": "Document ID",
                        "required": true
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Insert an Image",
                        "required": true,
                        "validate": {
                            "enum": [
                                "location",
                                "document",
                                "segment"
                            ]
                        }
                    },
                    {
                        "name": "uri",
                        "type": "url",
                        "label": "Image URL",
                        "required": true
                    },
                    {
                        "name": "height_magnitude",
                        "type": "number",
                        "label": "Height Magnitude in Points"
                    },
                    {
                        "name": "width_magnitude",
                        "type": "number",
                        "label": "Width Magnitude in Points"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}