vault_assets/038_87_This_AI_Agent_Builds_Automations_Chrome/___Agent.json
{
  "name": "🤖 Agent",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.command }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "c6a61a08-5961-43c0-b8ca-40e85d573c75"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "97661729-0d11-4937-8a17-8221bd273004",
                    "leftValue": "={{ $json.body.command }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -480,
        600
      ],
      "id": "ce94484a-0ff9-4d97-ba27-72fed3c9721e",
      "name": "Switch1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "y4YT26VgaMV7Xp79",
          "mode": "list",
          "cachedResultName": "🤩 Magical Subagent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "whatUserWants": "={{ $json.whatUserWants }}",
            "Workflow ID": "={{ $('Webhook1').item.json.body.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "whatUserWants",
              "displayName": "whatUserWants",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Workflow ID",
              "displayName": "Workflow ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        200,
        620
      ],
      "id": "c257d01a-428d-464f-bbf6-a104011e96f4",
      "name": "Execute Workflow1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6f0aa0d6-a02a-4ee5-a0df-f8951003f226",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -780,
        600
      ],
      "id": "03acb6fe-545c-4022-82b9-f0bcb6b50e4f",
      "name": "Webhook1",
      "webhookId": "6f0aa0d6-a02a-4ee5-a0df-f8951003f226"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        420,
        620
      ],
      "id": "b18a5d0c-c5a6-4216-a0b8-9b6838148b44",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Describe the steps involved in the workflow attached. ",
        "inputType": "base64",
        "binaryPropertyName": "imageFile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -260,
        740
      ],
      "id": "05fa5a4f-8d68-414f-9285-9508d16ed22f",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "0zsUHU0F8xKDAzoO",
          "name": "OpenAi account 14"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "667d3163-20a6-4b20-9759-76900fd57c6e",
              "name": "whatUserWants",
              "value": "={{ $('Webhook1').item.json.body.command }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -180,
        520
      ],
      "id": "5afe5afd-3284-4bb5-8cf4-d6322d618a90",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "667d3163-20a6-4b20-9759-76900fd57c6e",
              "name": "whatUserWants",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        740
      ],
      "id": "407abf8e-c2a4-4d05-a8ec-4eefddfcded2",
      "name": "Edit Fields5"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "390b0d55-fe71-4136-bee5-e74892f2ee43",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1ad5536c7c55ace0cd2d13b5ee509a9d5436e829bf5adf69ed3e58c359b43097"
  },
  "id": "L0RQT4PDjoaw2EVw",
  "tags": []
}