vault_assets/040_78_Build_Voice_Agents_with_n8n__Elevenlabs/____Build_Voice_Agents_with_n8n___Elevenlabs (2).json
{
  "name": "🎙️ Build Voice Agents with n8n + Elevenlabs",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body }}",
        "options": {
          "systemMessage": "=The current date is: {{$now}}\n\nYou are an AI calendar management system that processes requests from the voice agent. You handle all calendar operations for Jack Roberts through the CalendarTool and report back to the requesting agent with the necessary information.\n\nCAPABILITIES:\n- Check Jack's calendar for availability\n- Create new calendar appointments\n- Send confirmation emails\n- Respond to the requesting agent with operation results\n\nWHEN PROCESSING CHECK REQUESTS:\n- Verify the date and time parameters received from the requesting agent\n- Check Jack's calendar using the CalendarTool for the specified time slots\n- Return available time slots for the requested dates\n- If requested slots are unavailable, include alternative nearby available slots\n- Format your response clearly so the requesting agent can relay this information\n\nWHEN PROCESSING BOOKING REQUESTS:\n- Validate all required information (name, email, date, time, purpose)\n- Create a 15-minute discovery call in the calendar using the CalendarTool\n- Send a confirmation email to the client with meeting details\n- Notify the requesting agent of successful booking with confirmation details\n- If booking fails, provide specific error information to the requesting agent\n\nWHEN PROCESSING CANCELLATION/RESCHEDULING:\n- Locate the existing appointment using provided details\n- Process the cancellation or update the appointment as requested\n- Send appropriate notification emails for cancellations or changes\n- Report the outcome back to the requesting agent\n\nRESPONSE FORMAT:\n- Always begin responses with the operation status (SUCCESS/ERROR)\n- Include all relevant details processed by the operation\n- For errors, specify what went wrong and possible solutions\n- For successful operations, include confirmation details that can be relayed to the client\n\nYour role is to be a reliable back-end system that processes calendar requests accurately and efficiently, enabling the voice agent to provide seamless scheduling experiences for clients.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        360,
        0
      ],
      "id": "a93dbf32-27e7-4951-af2f-1b97d7158ba0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "jack@aiautomationswithjack.com",
          "mode": "list",
          "cachedResultName": "jack@aiautomationswithjack.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `date to start the event`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `date to finish the event`, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', `who's coming to the event`, 'string') }}"
          ],
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `what the event sis about`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        680,
        380
      ],
      "id": "c033970c-2f9d-4467-b0a2-80eced85b564",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1QWn1sJt0hVNu991",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', `the recipient`, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `subject of the email`, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `the actual email body`, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        840,
        340
      ],
      "id": "6aab5893-ac7b-443b-8b9e-1caf34fcfdae",
      "name": "Gmail1",
      "webhookId": "08677d50-d61a-4220-99d9-7dae87727c21",
      "credentials": {
        "gmailOAuth2": {
          "id": "VARz8tBAjDobMUh6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        780,
        0
      ],
      "id": "eef0d5c2-0005-465e-8f48-3199bb3f2cc2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "jack@aiautomationswithjack.com",
          "mode": "list",
          "cachedResultName": "jack@aiautomationswithjack.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        480,
        380
      ],
      "id": "4f81e520-15f8-4c12-a66f-940c2dcf6c6b",
      "name": "Google Calendar1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1QWn1sJt0hVNu991",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        200,
        320
      ],
      "id": "5a61c3c6-a490-4cf4-a694-d666b7cedd29",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BxIfsddO7jPDG3Lp",
          "name": "OpenAi account 8"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Voice",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        140,
        0
      ],
      "id": "ce973d03-37f9-4afb-be4d-e3e68dbff8ba",
      "name": "Webhook",
      "webhookId": "775d3fa6-74d2-4efe-bfce-3f91ee88e866"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e55c8c23-728e-43d7-8116-37074005d2fe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1ad5536c7c55ace0cd2d13b5ee509a9d5436e829bf5adf69ed3e58c359b43097"
  },
  "id": "bnB8HXGQEyEkgoRp",
  "tags": []
}