vault_assets/085_105_WhatsApp_sales_agent/🔥 WhatsApp Operating System.json
{
  "name": "🔥 WhatsApp Operating System",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        432
      ],
      "id": "24358a6f-43b7-408e-823e-a47c4d5c82eb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "54bfa39e-151f-4aec-823a-8876a11c7b9a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        640
      ],
      "id": "e6948221-5a68-41b9-afb8-9ea75ce40dac",
      "name": "Webhook",
      "webhookId": "54bfa39e-151f-4aec-823a-8876a11c7b9a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8dbbde4c-2ee1-4c3a-bd99-4b2d1493e7e0",
              "name": "Chat Id",
              "value": "={{ $json.body.chat_id }}",
              "type": "string"
            },
            {
              "id": "75aff8ac-17a7-4034-b939-40bbe1eeaedf",
              "name": "Message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        512
      ],
      "id": "51c46ddc-f450-44d8-af79-48028a0f5974",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Latest message: {{ $('Edit Fields').item.json.Message }}\n\nMessage History:\nHere are 50 lines following that format:\n{{ $json.items[0].text }}\n{{ $json.items[1].text }}\n{{ $json.items[2].text }}\n{{ $json.items[3].text }}\n{{ $json.items[4].text }}\n{{ $json.items[5].text }}\n{{ $json.items[6].text }}\n{{ $json.items[7].text }}\n{{ $json.items[8].text }}\n{{ $json.items[9].text }}\n{{ $json.items[10].text }}\n{{ $json.items[11].text }}\n{{ $json.items[12].text }}\n{{ $json.items[13].text }}\n{{ $json.items[14].text }}\n{{ $json.items[15].text }}\n{{ $json.items[16].text }}\n{{ $json.items[17].text }}\n{{ $json.items[18].text }}\n{{ $json.items[19].text }}\n{{ $json.items[20].text }}\n{{ $json.items[21].text }}\n{{ $json.items[22].text }}\n{{ $json.items[23].text }}\n{{ $json.items[24].text }}\n{{ $json.items[25].text }}\n{{ $json.items[26].text }}\n{{ $json.items[27].text }}\n{{ $json.items[28].text }}\n{{ $json.items[29].text }}\n{{ $json.items[30].text }}\n{{ $json.items[31].text }}\n{{ $json.items[32].text }}\n{{ $json.items[33].text }}\n{{ $json.items[34].text }}\n{{ $json.items[35].text }}\n{{ $json.items[36].text }}\n{{ $json.items[37].text }}\n{{ $json.items[38].text }}\n{{ $json.items[39].text }}\n{{ $json.items[40].text }}\n{{ $json.items[41].text }}\n{{ $json.items[42].text }}\n{{ $json.items[43].text }}\n{{ $json.items[44].text }}\n{{ $json.items[45].text }}\n{{ $json.items[46].text }}\n{{ $json.items[47].text }}\n{{ $json.items[48].text }}\n{{ $json.items[49].text }}",
        "options": {
          "systemMessage": "You are a WhatsApp agent. You will receive a message from a user and also the chat history. Based on this, you are to be helpful and support this individual with as many queries as possible. Your end goal is to organise a complimentary 20-minute assessment where we can assess their viability to support their business with AI.\n\nYou'll have the ability to book a calendar appointment if they wish, check information, and send them emails if required. \n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        112,
        512
      ],
      "id": "bc3f107b-41b1-4bd2-84ad-2d990f848b63",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        768
      ],
      "id": "0bb5b809-ff1c-4c6e-86ab-9a86b4233551",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "IScOLzsa2Zm3BnzT",
          "name": "Use this API key"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json['Chat Id'] }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        768
      ],
      "id": "c159bd56-d173-4128-a7e1-e93a55b15933",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://INSERT_UNIPILE_ID/api/v1/chats/{{ $('Edit Fields').item.json['Chat Id'] }}/messages\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "INSERT API KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        512
      ],
      "id": "f1fed1fc-3180-4094-983a-a8a15760b3b6",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "de2b0172-d997-456a-8970-e5806888e748",
  "meta": {
    "instanceId": "1ad5536c7c55ace0cd2d13b5ee509a9d5436e829bf5adf69ed3e58c359b43097"
  },
  "id": "LgUDintuKkf9dM1m",
  "tags": []
}