vault_assets/033_98_How_To_build_profitable_AI_dashboards/99% Are STILL Ignoring this Profitable AI System.json
{
  "name": "99% Are STILL Ignoring this Profitable AI System",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        -128
      ],
      "id": "dbab605f-0302-4078-b766-9447079a1868",
      "name": "When chat message received",
      "webhookId": "21db97f9-8248-40aa-ade2-8e47d77ef424"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=# AI Agent Prompt: Google Sheets Manager\n\nYou are an AI agent that manages information in a Google Sheet. Your job is to read incoming chat messages, review the current sheet data, and update any relevant information as needed.\n\n## Core Process\n1. **Read the message**: Understand what the user is asking for or reporting\n2. **Review the sheet**: Use the read tool to get current data from all relevant sections\n3. **Analyze**: Determine what information needs to be updated, added, or modified\n4. **Update**: Use the update tool to make necessary changes\n5. **Confirm**: Briefly explain what you updated\n\n## Available Tools\n- `read_google_sheet`: Retrieves current data from the Google Sheet\n- `update_google_sheet`: Updates specific cells or ranges in the sheet\n\n## Guidelines\n- Always read the sheet first before making any updates\n- Only update information that has actually changed or is newly provided\n- Be precise with your updates - don't modify unrelated data\n- If the message is unclear, ask for clarification before updating\n- Provide a brief summary of what you updated after making changes\n\n## Response Format\n1. Read the current sheet data\n2. Identify what needs updating based on the message\n3. Make the necessary updates\n4. Confirm: \"Updated [specific information] in the sheet.\"\n\nStay focused, efficient, and accurate in your updates."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -96,
        -128
      ],
      "id": "4aa8c2d4-acc9-4c49-9396-78ec8023538d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        128
      ],
      "id": "d26197e4-32e8-4d33-ac5f-e9582d4b294b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "IScOLzsa2Zm3BnzT",
          "name": "Use this API key"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -16,
        128
      ],
      "id": "d48d2af2-4c38-4ea2-838e-a335b36080bb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bw0D19wbDNLQLiNT5g9NVr8ws0O_clTQ5Zy2p3pqkbk",
          "mode": "list",
          "cachedResultName": "Lead Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bw0D19wbDNLQLiNT5g9NVr8ws0O_clTQ5Zy2p3pqkbk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bw0D19wbDNLQLiNT5g9NVr8ws0O_clTQ5Zy2p3pqkbk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        304,
        64
      ],
      "id": "0300bf5d-01ae-4470-a527-d95be518ca7d",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YwVdpEHJQpAEY722",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1bw0D19wbDNLQLiNT5g9NVr8ws0O_clTQ5Zy2p3pqkbk",
          "mode": "list",
          "cachedResultName": "Lead Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bw0D19wbDNLQLiNT5g9NVr8ws0O_clTQ5Zy2p3pqkbk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bw0D19wbDNLQLiNT5g9NVr8ws0O_clTQ5Zy2p3pqkbk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Budget": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Budget', ``, 'string') }}",
            "Colour": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Colour', ``, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Colour",
              "displayName": "Colour",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        160,
        128
      ],
      "id": "a50e10bb-f867-4c09-86fc-ada874c593be",
      "name": "Append or update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YwVdpEHJQpAEY722",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7333a0d8-a74d-4f3f-9806-6cf3749ffdf3",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -496,
        544
      ],
      "id": "55007c10-54d8-4966-80e3-5364f41a5dfd",
      "name": "Webhook",
      "webhookId": "7333a0d8-a74d-4f3f-9806-6cf3749ffdf3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=# AI Agent Prompt: Personal Assistant\n\nYou are an AI agent that serves as a comprehensive personal assistant. Your job is to read incoming messages from the user, review relevant data, and take appropriate actions across multiple systems to help them stay organized and productive.\n\n## Core Process\n1. **Read the message**: Understand what the user is asking for, reporting, or needs help with\n2. **Review data**: Check Google Sheets and calendar information as needed\n3. **Analyze**: Determine what actions are required (updates, scheduling, emails, etc.)\n4. **Take action**: Execute necessary updates, create appointments, or draft emails\n5. **Respond**: Provide a complete answer with all relevant information the user needs\n\n## Available Tools\n- `read_google_sheet`: Retrieves current data from the Google Sheet\n- `update_google_sheet`: Updates specific cells or ranges in the sheet\n- `check_calendar`: Reviews calendar events and availability\n- `create_appointment`: Schedules new calendar appointments\n- `create_draft_email`: Composes draft emails for the user\n\n## Guidelines\n- Always check relevant data sources (sheets, calendar) before taking action\n- Only update or create information that's specifically requested or needed\n- Be comprehensive in your responses - provide all information the user needs\n- When scheduling appointments, check calendar availability first\n- Draft emails should be professional and complete, ready for the user to review and send\n- If any request is unclear, ask for clarification before proceeding\n- Prioritize the user's time and preferences in all actions\n\n## Response Format\n1. Review relevant data (sheets, calendar, etc.)\n2. Take necessary actions (updates, appointments, drafts)\n3. Provide complete response with all requested information\n4. Summarize what actions were taken: \"I've [updated X, scheduled Y, drafted Z] for you.\"\n\nStay focused, efficient, and accurate in your updates.\n\nAll updates must be sent from Jack.\n\nWhen you're adding a memory, you need to add it to the Google Sheets tool. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -288,
        544
      ],
      "id": "516ee6a5-acac-4c32-88f7-6924429d6a50",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -400,
        768
      ],
      "id": "ba39f891-3f14-4cf8-a86c-6a765276c7e1",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "IScOLzsa2Zm3BnzT",
          "name": "Use this API key"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bw0D19wbDNLQLiNT5g9NVr8ws0O_clTQ5Zy2p3pqkbk",
          "mode": "list",
          "cachedResultName": "Lead Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bw0D19wbDNLQLiNT5g9NVr8ws0O_clTQ5Zy2p3pqkbk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bw0D19wbDNLQLiNT5g9NVr8ws0O_clTQ5Zy2p3pqkbk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        352,
        832
      ],
      "id": "b333105d-0d1b-4beb-bf86-dca831936a4d",
      "name": "Get row(s) in sheet in Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YwVdpEHJQpAEY722",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1bw0D19wbDNLQLiNT5g9NVr8ws0O_clTQ5Zy2p3pqkbk",
          "mode": "list",
          "cachedResultName": "Lead Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bw0D19wbDNLQLiNT5g9NVr8ws0O_clTQ5Zy2p3pqkbk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bw0D19wbDNLQLiNT5g9NVr8ws0O_clTQ5Zy2p3pqkbk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Budget": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Budget', ``, 'string') }}",
            "Colour": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Colour', ``, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Colour",
              "displayName": "Colour",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        144,
        832
      ],
      "id": "dd7da70a-af89-4b09-9c9b-2019442fbc12",
      "name": "Append or update row in sheet in Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YwVdpEHJQpAEY722",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -48,
        880
      ],
      "id": "70c37648-5e20-49ac-a848-89efa873cf2c",
      "name": "Send a message in Gmail",
      "webhookId": "67fc970e-35c5-420e-8e83-01a4b7442bce",
      "credentials": {
        "gmailOAuth2": {
          "id": "7dtvcrq0jtwBOlX3",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "jack@aiautomationswithjack.com",
          "mode": "list",
          "cachedResultName": "jack@aiautomationswithjack.com"
        },
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"
          ],
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -368,
        960
      ],
      "id": "24723fad-9c69-4664-8d85-824ac4953345",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1QWn1sJt0hVNu991",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "jack@aiautomationswithjack.com",
          "mode": "list",
          "cachedResultName": "jack@aiautomationswithjack.com"
        },
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -208,
        960
      ],
      "id": "1d373f5f-1817-4716-964d-b17261fe40e3",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1QWn1sJt0hVNu991",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        80,
        544
      ],
      "id": "81bde003-5102-4766-bc13-4b4d25d8298c",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0c0417e8-e6a3-4c0b-a377-3c89f59b50c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1ad5536c7c55ace0cd2d13b5ee509a9d5436e829bf5adf69ed3e58c359b43097"
  },
  "id": "cwE9QxLAcgD68EnV",
  "tags": []
}